<div class="row">
  <div class="col-12 col-md px-3">
    @if(intro){
      {{intro}}
      }
  <mat-form-field appearance="fill">
<input type="text" matInput [matAutocomplete]="auto" [formControl]="input" required>
    <mat-autocomplete class="drop-down" #auto="matAutocomplete" >
      @for(options of (filteredList$ | async); let i = $index; track options){
        <mat-option [value]="options" (click)="emitSelectedChange(options)">
          <span [innerHTML]="options | bold: input.value!">
          </span>
        </mat-option>
    }
    </mat-autocomplete>
</mat-form-field>
</div>
</div>