<div class="flex-column">
        <ngx-skeleton-loader [theme]="{ height: '300px', width: '300px','border-radius': '15px' }"></ngx-skeleton-loader>
    <div class="d-flex flex-row align-items-center justify-content-between">
        <ngx-skeleton-loader [theme]="{ height: '40px', width: '40px', 'border-radius': '50%' }" appearance="circle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" [theme]="{ height: '40px', width: '70px', 'border-radius': '15px' }" appearance="line"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ height: '40px', width: '40px', 'border-radius': '50%' }" appearance="circle"></ngx-skeleton-loader>
    </div>
</div>