<!-- new -->
@defer{
<div class="carousel-container">
  <div class="carousel-header">
  <h2>{{ heading }}</h2>
  <h3 >{{images[activeImageIndex].public_id}}</h3>
  </div>

  <div class="image-stack">
    @if("images[activeImageIndex].secure_url"){
    <div class="active-image" [@activeImage]>
      <img  [src]="images[activeImageIndex].secure_url" class="img-main" alt="Main Image">
    </div>
  }
  <div class="loop-container">
    @for(image of images; let i = $index; track image){
    <div class="list-image" [@enterLeftToRight]>
      <img loading="lazy"  [src]="image.secure_url" class="img-small" alt="Image" (click)="activateImage(i)">
   </div>
    }
    </div>
  </div>
  <footer class="carousel-footer">
  <div class="carousel-controls">
    <button mat-icon-button (click)="activateImage(activeImageIndex - 1)">
      <mat-icon class="material-symbols-outlined">chevron_left</mat-icon>
    </button>
    <div class="carousel-status">
      <span>{{ activeImageIndex + 1 }} / {{ images.length }}</span>
    </div>
    <button mat-icon-button (click)="activateImage(activeImageIndex + 1)">
      <mat-icon class="material-symbols-outlined">chevron_right</mat-icon>
    </button>
  </div>
 
</footer>
</div>
}@loading {
   <app-skeleton-carousel></app-skeleton-carousel>
} 
