<div class="container">
  <h2>{{ heading }}</h2>
    <div>
    @if(images.length > 0){
      <!-- include the get functions you made -->
    @for(image of images; let i = $index; track image){
      @if(i === activeImageIndex){
        {{image.public_id}}
      <div class="active-image-container">
        <div class="active-image active" @activeImage>
          <img [src]="image.secure_url" class="active-image-img" alt="Image"
          (click)="stopCarousel()" (mouseover)="stopCarousel()" (mouseout)="startCarousel()"
          (click)="activateImage(i)">
        </div>
      </div>
      }@else{
      <div class="smaller-images-container carousel-container">
          <div class="smaller-image" @smallerImage>
            <img [src]="image.secure_url" class="smaller-image-img" alt="Image"
            (click)="stopCarousel()" (mouseover)="stopCarousel()" (mouseout)="startCarousel()"
            (click)="activateImage(i)">
          </div>
      </div>
        }
    }
  }  @else {
    <h3> Arriving Soon </h3> 
   } 
 </div>
</div>
