.active-image {
    transition: transform 0.5s ease-in-out;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    border: 2px solid #ccc;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

.loop-container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    cursor: pointer;
    scroll-behavior: smooth;
    max-width: 80%;
}
.image-stack{
    display: flex;
    flex-direction: column;
    
}
.img{
    aspect-ratio: 16 / 9;
}