<div class="container">
  <h2>{{ heading }}</h2>
    <div #carouselContainer class="carousel-container">
      @if(images.length > 0){
    @for(image of images; let i = $index; track image){
      <div class="carousel-item active carousel-image" [class.active]="i === 0">
        <img [src]="image" class="carousel-img" alt="Image"
        (click)="stopCarousel()" (mouseover)="stopCarousel()" (mouseout)="startCarousel()">
      </div>
    }
  }  @else {
    <h3> Arriving Soon </h3> 
   } 
 </div>
</div>
