<div class="row">
  <div class="col-12">
      @if(label){
        {{label}}
        }
<mat-form-field appearance="outline">
<input type="text" matInput [matAutocomplete]="auto" [formControl]="input"
  [placeholder]="filler">
    <mat-autocomplete #auto="matAutocomplete" >
      @for(options of (filteredList$ | async); let i = $index; track options){
        <mat-option [value]="options" (click)="emitSelectedChange(options)">
          <span [innerHTML]="options | bold: input.value!">
          </span>
        </mat-option>
    }
    </mat-autocomplete>
    @if(input.value){
      <button matSuffix mat-icon-button (click)="reset()">
        <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
      </button>
    }
    @if (hint){
      <mat-hint>{{hint}}</mat-hint>
      }
</mat-form-field>

</div>

</div>