<mat-toolbar class="header-container">
      <!-- Nav Buttons -->
      @if(mobile){
      <div class="nav-buttons ">
        <button mat-icon-button class="mobile-nav" (click)="navigateToContact()">
          <mat-icon class="material-symbols-outlined">local_library</mat-icon>
        </button>
        <button mat-icon-button class="msg-icon-nav" (click)="navigateToShowcase()">
          <mat-icon class="material-symbols-outlined">imagesmode</mat-icon>
        </button>
        <button mat-icon-button class="mobile-request-nav" (click)="requestQuote()">
          <mat-icon class="material-symbols-outlined">description</mat-icon>
        </button>
      </div>
    }@else{
        <div class="header-logo">
            <img src="../favicon.ico" class="img-fluid">
        </div>
         <!-- add words under  -->
        <div class="nav-buttons desktop">
            <button mat-fab extended class="btn btn-primary" (click)="navigateToContact()">
              <mat-icon class="material-symbols-outlined">local_library</mat-icon>
              About Neslo
            </button>
            <button mat-fab extended class="btn btn-primary"  (click)="requestQuote()">
                <mat-icon class="material-symbols-outlined">description</mat-icon>
                Request Quote
            </button>
            <button mat-fab extended class="btn btn-primary" (click)="navigateToShowcase()">
              <mat-icon class="material-symbols-outlined">imagesmode</mat-icon>
              Showcase
            </button>
            
          </div>
      }
  </mat-toolbar>
  

 <!-- Search Bar -->
        <!-- need exmaple pics before making drop down -->
        <!-- <div class="col-auto ml-auto">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput type="text" placeholder="Search products or configurations">
          </mat-form-field>
        </div> -->
