<mat-toolbar class="header-container">
      <!-- Nav Buttons -->
  @if(mobile){
       <!-- config button that drops down all options -->
      <div class="nav-buttons">
        <!-- Sizing Reference DropDown -->
        @if(!configDialog){
        <button mat-icon-button class="m-nav" (click)="toggleConfig()">
          <mat-icon class="material-symbols-outlined">straighten</mat-icon>
        </button>
        }@else{
        <button mat-icon-button class="m-nav close" (click)="toggleConfig()">
          <mat-icon class="material-symbols-outlined">
            close_fullscreen
          </mat-icon>
         </button>
         <!-- Change to a dialog popup -->
          <!-- <app-config-ex-dropdown class="drop-container"></app-config-ex-dropdown> -->
          }
        <!-- Three main nav buttons -->
        <button mat-icon-button class="m-nav" (click)="navigateToContact()">
          <mat-icon class="material-symbols-outlined">local_library</mat-icon>
        </button>
        <button mat-icon-button class="m-nav" (click)="navigateToShowcase()">
          <mat-icon class="material-symbols-outlined">imagesmode</mat-icon>
        </button>
        <button mat-icon-button class="m-nav" (click)="requestQuote()">
          <mat-icon class="material-symbols-outlined">description</mat-icon>
        </button>
      </div>
  }@else{
      <div class="header-logo">
          <img src="../favicon.ico" class="img-fluid">
      </div>
      <!-- Config Examples -->
      <div class="size-container">
        @if(configDialog){
          <button mat-fab extended (click)="toggleConfig()" class="size-btn-closed">
            <mat-icon class="material-symbols-outlined">
              close_fullscreen
            </mat-icon>
            Close Reference
          </button>
        }@else {
          <button mat-fab extended (click)="toggleConfig()" class="size-btn-open">
          <mat-icon class="material-symbols-outlined">
            straighten
          </mat-icon>
          Sizing Reference
          </button>
      }
        <!-- @if(dropDown){
      <app-config-ex-dropdown class="drop-container"></app-config-ex-dropdown>
        } -->
      </div>
         <!-- add words under  -->
        <div class="nav-buttons desktop">
            <button mat-fab extended class="btn btn-primary" (click)="navigateToContact()">
              <mat-icon class="material-symbols-outlined">local_library</mat-icon>
              About Neslo
            </button>
            <button mat-fab extended class="btn btn-primary"  (click)="requestQuote()">
                <mat-icon class="material-symbols-outlined">description</mat-icon>
                Request Quote
            </button>
            <button mat-fab extended class="btn btn-primary" (click)="navigateToShowcase()">
              <mat-icon class="material-symbols-outlined">imagesmode</mat-icon>
              Showcase
            </button>
          </div>
      }
  </mat-toolbar>