<div class="row">
    <div class="col-12 px-3">
        @if(intro){
        {{intro}}
        }
        <mat-form-field appearance="fill">
            <input matInput [formControl]="input"  [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- @if(input.value){
          <button matSuffix mat-icon-button (click)="input.reset()">
            <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
          </button>
        } -->
        <!-- @if (input.invalid) {
          <mat-error>This field is required</mat-error>
        } -->
        </mat-form-field>
      </div>
      </div>
