    <div class="info-container">
    <div [ngStyle]="{'background-image': customColor ? 'linear-gradient(1deg, #b9a99691, transparent)' : 'linear-gradient(1deg, #9cd2967d, transparent)'}" class="info-container">
    <div class="d-flex justify-content-center">
    <img src="{{img.img}}" class="img-fluid img" alt="{{img.alt}}">
    </div>
    <h3 class="text-center mb-3" heading>{{title}}</h3>
    <p class="text-center" [innerHTML]="intro"></p>
   <div class="text-center">
    <p class="headings">
        <span class="material-symbols-outlined">
            call
            </span>
        <a class="link-secondary" aria-label="Call us" href="tel: +`{{tel}}`">{{tel}}</a>
    </p>
    <p class="headings">
        <span class="material-symbols-outlined">
            mail
            </span>
        <a class="link-secondary" aria-label="Email us" href="mailto:`{{email}}`">
         {{email}}
        </a>
    </p>
    @if(fax){
    <p class="headings">
        <span class="material-symbols-outlined">
            fax
            </span>
        <a class="link-secondary" aria-label="Fax us">
            {{fax}}
        </a>
    </p>
}
    <p class="text-center" [innerHTML]="message">
    </p> 
    
</div> 
</div>
</div> 