.info-container {
  border-radius: 25px;
  margin-bottom: 20px;
  height: 100%;
  @media (min-width: 601px) {
  padding: 20px;
  }
  }
.img{
    border-radius: 50%;
    max-width: 20vh;
    margin-bottom: 2%;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 26%);
  }
.parent-container {
  display: flex;
  align-items: stretch; 
}
h3[heading] {
  font-size: 1.7em; 
  @media (min-width: 601px) {
    font-size: 1.1em; 
  }
  @media (min-width: 1025px) {
    font-size: 1.4vw; 
  }
}
.info-container {
  transition: transform 0.3s ease-in-out; 
  transform: translateY(0); 
}

.info-container:hover {
  transform: translateY(-7px); 
}
