    <div class="info-container">
    <div class="d-flex justify-content-center">
    <img src="{{img.img}}" class="img-fluid img" alt="Company Logo">
    </div>
    <h3 class="text-center mb-3">{{title}}</h3>
    <p class="text-center">{{intro}}</p>
   <div class="text-center">
    <p>
        <a class="link-secondary" aria-label="Call us" href="tel:`{{tel}}`">{{tel}}</a>
    </p>
    <p>
        <a class="link-secondary" aria-label="Email us" href="mailto:`{{email}}`">
        {{email}}
        </a>
    </p>
    @if(fax){
    <p>
        <a class="link-secondary" aria-label="Fax us">
           Fax: {{fax}}
        </a>
    </p>
}
    <p class="text-center" [innerHTML]="message">
    </p> 
</div> 
