.info-container {
  border-radius: 25px;
  margin-bottom: 20px;
  height: 100%;
  @media (min-width: 601px) {
  padding: 20px;
  }
  }
.img{
    animation: dropDown 1s ease-out; 
    border-radius: 50%;
    width: 40vw;
    @media (min-width: 601px) {
    width: 27vw;
    }
    @media (min-width: 1025px) {
    width: 12vw;
    }
    margin-bottom: 2%;
    box-shadow: 2px 2px 2px #00000042;
    background-color: #fff;
    padding: 5px;
  }
.parent-container {
  display: flex;
  align-items: stretch; 
}
.padding{
  padding: 0% 2%;
}

h3[heading] {
  font-size: 1.7em; 
  @media (min-width: 601px) {
    font-size: 1.1em; 
  }
  @media (min-width: 1025px) {
    font-size: 1.4vw; 
  }
}
.info-container {
  transition: transform 0.3s ease-in-out; 
  transform: translateY(0); 
}
@media (hover: hover) {
.info-container:hover {
  transform: translateY(-7px); 
}
}
@keyframes dropDown {
  0% {
    transform: translateY(-100px); /* Start above the normal position */
    opacity: 0; /* Start invisible if desired for effect */
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
