<form [formGroup]="contactForm">
  <section class="py-3">
  <div class="row">
    <mat-form-field appearance="fill" >
    <mat-label class="form-label">Name</mat-label>
    <input type="text" required formControlName="name" matInput
    appHideFocus placeholder="Your Name">
      @if(contactForm.get('name')?.errors?.['required']){
        <mat-error>Please supply your name</mat-error>
          }
</mat-form-field>
</div>
<div class="row">
    <mat-form-field  appearance="fill">
    <mat-label class="form-label">Return Email</mat-label>
    <input type="email" required formControlName="email" matInput
    appHideFocus placeholder="name@mail.com">
      @if(contactForm.get('email')?.errors?.['required']){
        <mat-error>Email is required</mat-error>
          }
        @else if(contactForm.get('email')?.errors?.['email']){
          <mat-error>
            Please enter a valid email address.
          </mat-error>
        }
</mat-form-field>
</div>
<div class="row">
    <mat-form-field appearance="fill">
    <mat-label for="message" class="form-label">Message</mat-label>
    <textarea formControlName="message" matInput rows="2" required
    placeholder="I would like to acquire about...">
</textarea>
</mat-form-field>
@if(imageSrc && contactForm.get('file')?.value){
  <div  class="thumbnail-container">
 <app-close-btn (close)="onBtnClicked()"></app-close-btn>
    @if(this.fileType === 'application/pdf'){
  <iframe [src]="imageSrc" 
  class="img-thumbnail img-fluid mx-auto"
  alt="Pdf file" ></iframe>
    } @else {
      <img [src]="imageSrc" class="img-thumbnail img-fluid mx-auto" 
      alt="Image file thumbnail">
    }
  </div>
  }
</div>
      <input type="file" formControlName="file" (change)="onFileSelected($event)"
      hidden #fileInput accept=".pdf, .jpg, .jpeg," multiple>
      <div class="g-3 g-md-3 container justify-content-md-between d-block d-md-flex">
        <div  class="pad col-12 col-md-6 file-wrapper">
      <button mat-fab extended (click)="fileInput.click()" matTooltip="Include quote form"
       [ngClass]="contactForm.get('file')?.value ? 'file-added' : 'file-empty'">
        <mat-icon class="material-symbols-outlined">
        @if(contactForm.get('file')?.value){
        file_download_done
        } @else {
        attach_file
        }
      </mat-icon>
   @if(contactForm.get('file')?.value && !this.orientationService.screen()){
    File attached successfully 
    } @else {
      Attach your quote request
    }
      </button>
    </div>
    <div class="col-12 col-md-6 justify-content-end d-flex">
<button mat-fab extended type="button" id="submitBtn" matTooltip="Send message to Erik"
    (mouseover)="onHover(true)" (mouseleave)="onHover(false)" 
    (click)="send()" [disabled]="contactForm.valid">
      Send 
      <mat-icon class="material-symbols-outlined">
    @switch (state) { 
        @case ('noFocus') { send }
        @case ('focus') { arrow_right_alt }
       @default { send }
      }
    </mat-icon>
    </button>
    </div>
  </div>
</section>
</form>