<form [formGroup]="contactForm" (ngSubmit)="send()">
  <section class="py-3">
  <div class="row">
    <mat-form-field appearance="fill" >
    <mat-label class="form-label">Name</mat-label>
    <input type="text" required formControlName="name" matInput  placeholder="Your Name">
      @if(contactForm.get('name')?.errors?.['required']){
        <mat-error>Please supply your name</mat-error>
          }
</mat-form-field>
</div>
<div class="row">
    <mat-form-field  appearance="fill" >
    <mat-label class="form-label">Return Email</mat-label>
    <input type="email" required formControlName="email" matInput placeholder="name@mail.com">
      @if(contactForm.get('email')?.errors?.['required']){
        <mat-error>Email is required</mat-error>
          }
        @else if(contactForm.get('email')?.errors?.['email']){
          <mat-error>
            Please enter a valid email address.
          </mat-error>
        }
</mat-form-field>
</div>
<div class="row">
    <mat-form-field appearance="fill">
    <mat-label for="message" class="form-label">Message</mat-label>
    <textarea formControlName="message" matInput rows="2" required
    placeholder="I would like to acquire about...">
</textarea>
</mat-form-field>
@if(imageSrc && contactForm.get('file')?.value){
  <div  class="thumbnail-container limit" [ngClass]="{'full-screen': isFullScreen}" 
  (click)="toggleFullScreen()">

  <div class="thumbnail-header">
    <button matSuffix mat-icon-button (click)="removeAttachedFile()" class="remove-file-btn">
      <mat-icon class="material-symbols-outlined">cancel</mat-icon>
    </button>
  </div>


    @if(this.fileType === 'application/pdf'){
  <iframe [src]="imageSrc" 
  class="img-thumbnail img-fluid mx-auto d-block" 
  alt="File thumbnail" ></iframe>
    } @else {
      <img [src]="imageSrc"  class="img-thumbnail img-fluid mx-auto d-block" 
      alt="File thumbnail">
    }
  </div>
  }
</div>
      <input type="file" formControlName="file" (change)="onFileSelected($event)"
      hidden #fileInput accept=".pdf, .jpg, .jpeg," multiple>
      <div class="g-3 g-md-3 container justify-content-md-between d-block d-md-flex">
        <div  class="pad col-12 col-md-6 file-wrapper">
      <button mat-fab extended (click)="fileInput.click()" [ngClass]="contactForm.get('file')?.value ? 'file-added' : 'file-empty'">
        <mat-icon class="material-symbols-outlined">
        @if(contactForm.get('file')?.value){
        file_download_done
        } @else {
        attach_file
        }
      </mat-icon>
   @if(contactForm.get('file')?.value && !this.orientationService.screen()){
    File attached successfully 
    } @else {
      Attach your request quote 
    }
      </button>
    </div>
    <div class="col-12 col-md-6 justify-content-end d-flex">
<button mat-fab extended type="submit" id="submitBtn" 
    (mouseover)="onHover(true)" (mouseleave)="onHover(false)" 
      [disabled]="contactForm.valid">
      Send Email 
      <mat-icon class="material-symbols-outlined">
    @switch (state) { 
        @case ('noFocus') { keyboard_arrow_right }
        @case ('focus') { arrow_right_alt }
       @default { keyboard_arrow_right }
      }
    </mat-icon>
    </button>
    </div>
  </div>
</section>
</form>