.file-empty{
    background-color: #4A2C2A;
    color: white;
  }
  .file-added{
    background-color: #5E4C5A;
    color: white;
  }
button[type="submit"]{
    color: white;
    background-color: var(--wood);
  &:hover{
    background-color: var(--wood-red);
  }
}
.file-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.file{
  padding: 0% 2%;
}
  .limit {
    max-height: 200px; 
    overflow: hidden; 
    position: relative; 
  }
  .info-container {
    background-color: var(--wood-light-grey);
    border-radius: 25px;
    padding: 20px; 
    margin-bottom: 20px; 
  }
  .full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7; 
    background-color: rgba(0,0,0,0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .full-screen img {
    width: auto; 
    max-width: 90%; 
    max-height: 90%; 
  }
  