@mixin common{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.full-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1% 3%;
    border: 1px solid;
}
.title{
    @include common();
    background-color: var(--wood-light-grey);
}
.heading-texts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    div{
    display: flex;
    border: 1px solid;
    }
}
.table{
    margin-bottom: 0%;
}
b{
    color: black;
}
.box-container{
    @include common();
    text-align: center;
}
div[white]{
    @include common();
    background-color: white;
    border: 1px solid;
}
div[grey]{
    @include common();
    background-color: var(--wood-light-grey);
    border: 1px solid;
}
div[red]{
    @include common();
    background-color: var(--red); 
    border: 1px solid;
}
div[green]{
    @include common();
    background-color: var(--greenField);
    border: 1px solid;
}
div[warning]{
    @include common();
    border: 1px solid;
    color: #ff0000;
}
th{
    border: 1px solid;
    padding: 0%;
}
th[grey], td[grey]{
    background-color: var(--wood-light-grey);
    text-align: center;
}
td[red]{
    background-color: var(--red); 
}
 td[green]{
    background-color: var(--greenField);
}
td{
    text-align: center; 
    padding: 3px; 
    border: 1px solid;
  }
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    &[red]{
        background-color: var(--red); 
    }
    &[green]{
        background-color: var(--greenField); 
    }
  }