<div class="shadow-overlay"></div>
<div class="full-page">
  <header class="sticky-header">
    <h1 class="title">Standard Size Configurations</h1>
    <button mat-raised-button class="close-button" appCloseDialog aria-label="Close">
      Close
    </button>

    <!-- <table mat-table class="header-columns">
      <ng-container matColumnDef="config">
        <th mat-header-cell *matHeaderCellDef> Config </th>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Reference </th>
      </ng-container>
      <ng-container matColumnDef="fd72_73">
        <th mat-header-cell *matHeaderCellDef blue> FD 72 and 73 RO Width </th>
      </ng-container>
      <ng-container matColumnDef="fd27">
        <th mat-header-cell *matHeaderCellDef green> FD 27 PVCU RO Width </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['config', 'symbol', 'fd72_73', 'fd27']"></tr>
    </table> -->
  </header>
 
  <section>
    <div blue class="sub-heading">RO Ht From Subfloor to Finished Opening for all &nbsp; <b> FD 72 & FD 73 &nbsp; </b> Std Size Doors Is: &nbsp; <b> 95 1/2" </b> </div>
    <div green class="sub-heading">RO Ht From Subfloor to Finished Opening for all &nbsp; <b> FD 27 &nbsp; </b> Std Size Doors is: &nbsp; <b> 96" </b> </div>
    <div class="heading-texts">
     <div class="sub-heading">  
        <div grey> Rebate width with no screen: &#160;<b> 4 1/4" </b></div> 
    <div class="sub-heading">
        <div grey> Rebate width with a screen: &#160;<b> 5 1/2" </b></div> 
    </div>
    <div class="sub-heading">
        <div grey>Sill Type: &#160; <b> Recessed Track </b></div> 
    </div>
        <div warning class="sub-heading">All RO Ht. Dimensions assume 3/4" Flooring. If flooring thickness from subfloor is different than 3/4"
        then the RO Ht. needs to be adjusted equally.</div>
    </div>
    </div>
  </section>  

  <table mat-table [dataSource]="tableData" class="scroll-table">
  
      <ng-container matColumnDef="config">
        <th mat-header-cell *matHeaderCellDef> Config </th>
        <td mat-cell *matCellDef="let element"> 
        @if(element.id == idMatch){
          <b id="focusedId">
            {{element.config}}
            </b>
          }@else{
          {{element.config}}
          }
         </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Reference </th>
        <td mat-cell *matCellDef="let element">
          @if(element.id == idMatch){
            <b>
              {{element.symbol}}
            </b>
          }@else{
              {{element.symbol}}
           } 
          </td>
      </ng-container>

      <ng-container matColumnDef="fd72_73">
        <th mat-header-cell *matHeaderCellDef blue> FD 72 and 73 RO Width </th>
        <td mat-cell *matCellDef="let element">
          @if(element.id == idMatch){
            <b>
              {{element.fd72_73}}
              </b>
            }@else{
          {{element.fd72_73}}
             } 
            </td>
      </ng-container>

      <ng-container matColumnDef="fd27">
        <th mat-header-cell *matHeaderCellDef green> FD 27 PVCU RO Width </th>
        <td mat-cell *matCellDef="let element">
          @if(element.id == idMatch){
            <b>
              {{element.fd27}}
              </b>
            }@else {
              {{element.fd27}}
            }
        </td>
      </ng-container>
              
      <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsName"> </tr> 

  </table>
</div>