@mixin common{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2%;
}
@mixin blue {
    background-color: #e4ebf1;
  }
  
  @mixin green {
    background-color: #e3ebe29e;
  }
.close-button {
    display: flex;
    // position: absolute;
    // top: 0px; 
    // right: 0px; 
    background-color: white;
    // justify-content: flex-end;
    margin: 0% 25%;
  }
.mobile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.sub-heading{
    padding: 1% 0% 0%;
}
.scroll-table{
    max-height: 100vh;
    overflow-y: auto;
}
.shadow-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(307deg, #f8f9fa, #d3d3d3);
    z-index: 20;
    border-radius: 15px; // 
  }
.sticky-header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 21;
}
.full-page{ 
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 22;
    background-color: transparent;
    overflow: hidden; // chnaged from overflow-x
    border: 2px groove;
    border-radius: 15px;
}
header {
    position: relative;
    @media (min-width: 601px) {
    position: fixed;
    }
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
.header-columns{
    display: flex;
    justify-content: center;
}
.title{
    flex-grow: 1;
    padding-top: 2%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white; 
}
.heading-texts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    div{
    display: flex;
    flex-direction: column;
    }
}
b{
    color: black;
}
.box-container{
    @include common();
    text-align: center;
}
div[white]{
    @include common();
    background-color: white;
}
div[grey]{
    @include common();
}
div[blue]{
    @include common();
    @include blue;
}
th[blue], td[blue]{
    @include blue;
}
div[green]{
    @include common();
    @include green;
}
div[warning]{
    @include common();
    color: #d93934;
}
th, tbody{
    text-align: center;
}
th[green], td[green]{
    @include green;
}
th[grey], td[grey]{
    background-color: var(--wood-light-grey);
    text-align: center;
}
td{
    text-align: center; 
  }
h1{
    display: flex;
    text-align: center;
    word-wrap: break-word; 
    justify-content: center;
    font-size: 1.5em; 
    margin-bottom: 0%;
    &[blue]{
        @include blue;
    }
    &[green]{
        @include green;
    }
  }