<div class="full-page">
  <header class="sticky-header">
    <div class="flex-container">
    <h3 class="title">Standard Size Configurations</h3>
      <button mat-icon-button class="close-button" appCloseDialog aria-label="Close">
        <mat-icon class="material-symbols-outlined">cancel</mat-icon>
    </button>
    </div>
  </header>
  <div class="content">
    <div blue class="sub-heading">RO Ht From Subfloor to Finished Opening for all &nbsp; <b> FD 72 & FD 73 &nbsp; </b> Std Size Doors Is: &nbsp; <b> 95 1/2" </b> </div>
    <div green class="sub-heading">RO Ht From Subfloor to Finished Opening for all &nbsp; <b> FD 27 &nbsp; </b> Std Size Doors is: &nbsp; <b> 96" </b> </div>
    <div class="heading-texts">
     <div class="sub-heading">  
        <div grey>Rebate width with no screen: &#160;<b> 4 1/4" </b></div> 
    </div>    
    <div class="sub-heading">
        <div grey>Rebate width with a screen: &#160;<b> 5 1/2" </b></div> 
    </div>
    <div class="sub-heading">
        <div grey>Sill Type: &#160; <b> Recessed Track </b></div> 
    </div>
        <div warning class="sub-heading">All RO Ht. Dimensions assume 3/4" Flooring. If flooring thickness from subfloor is different than 3/4"
        then the RO Ht. needs to be adjusted equally.</div>
    </div>
    <div class="table-responsive-md">
    <table class="table d-block d-md-table">
        <thead>
            <tr>
              <th grey colspan="2">
                <h3>
                CONFIG
                </h3>
              </th>
            <th colspan="1">
                <div>
              <div blue>FD 72 and 73 Panel Width:</div>
              <div white>33 1/2"</div>
            </div>
            <h3 blue>
                FD72 & FD73 RO Width
            </h3>
            </th>
              <th colspan="1" green>
                <div>
                <div green>
                    FD 27 Panel Width:
                </div>
                <div white>
                    33 15/16"
                </div>
            </div>
  
            <h3 green>
                FD 27 PVCU RO Width
            </h3>
              </th>
            </tr>
          </thead>
            <tbody>
                @for(row of tableData; let i = $index; track row){
              <tr>
                <td grey>{{ row.config }}</td>
                <td [innerHTML]="row.symbol"></td>
                <td blue>{{ row.fd72_73 }}</td>
                <td green>{{ row.fd27 }}</td>
              </tr>
            }
            </tbody>
          </table>
      </div>
    </div>
  </div>