@mixin common{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2%;
}
@mixin blue {
    background-color: #e4ebf1;
  }
  @mixin font-large{
    font-size: 1.5em; 
    @media (min-width: 601px) {
        font-size: 1.1em; 
    }
    @media (min-width: 1025px) {
        font-size: 1.4vw; 
    }
}
@mixin font-small{
    font-size: 1.3em; 
    @media (min-width: 601px) {
        font-size: 1.1em; 
    }
    @media (min-width: 1025px) {
        font-size: 1.1vw; 
    }
}
  @mixin green {
    background-color: #e3ebe29e;
  }
.close-button {
    display: flex;
    // position: absolute;
    // top: 0px; 
    // right: 0px; 
    background-color: white;
    // justify-content: flex-end;
    margin: 0% 25%;
  }
.mobile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.sub-heading{
    padding: 1% 0% 0%;
}
.scroll-table{
    max-height: 100vh;
    overflow-y: auto;
}
.shadow-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(307deg, #f8f9fa, #d3d3d3);
    z-index: 20;
  }

.full-page{ 
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 22;
    background-color: transparent;
    overflow-y: hidden; 

    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
header {
    position: relative;
    @media (min-width: 601px) {
    position: fixed;
    }
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
.header-columns{
    display: flex;
    justify-content: center;
}

.heading-texts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    div{
    display: flex;
    flex-direction: column;
    }
}
b{
   color: black;
}
.box-container{
    @include common();
    text-align: center;
}
div[white]{
    @include common();
    @include font-small;
    background-color: white;
}
div[grey]{
    @include common();
    @include font-small();
}
div[blue]{
    @include common();
    @include font-small;
    @include blue;
}
th[blue], td[blue]{
    @include blue;
}
div[green]{
    @include common();
    @include font-small;
    @include green;
}
div[warning]{
    @include common();
    @include font-small;
    color: #d93934;
}
th, tbody{
    text-align: center;
}
th[green], td[green]{
    @include green;
}
th[grey], td[grey]{
    background-color: var(--wood-light-grey);
    text-align: center;
}
th{
    @include font-large;
}
td{
    @include font-small;
    text-align: center; 
  }
h1{
    display: flex;
    text-align: center;
    word-wrap: break-word; 
    justify-content: center;
    font-size: 1.5em; 
    margin-bottom: 0%;
  }