.img{
    max-width: 50%;
    border-radius: 50%;
    box-shadow: purple;
  }

// styles.scss
p {
    font-size: 10px; 
}
.mat-typography {

  & .mat-h1, & .mat-headline-5 {
    font-size: 24px !important; 
  }

  & .mat-h2, & h2 {
    font-size: 18px !important; 
  }

  & h3 {
    font-size: 14px !important; 
  }
}