button[back]{
        position: fixed;
        top: 20px; 
        left: 20px; 
        z-index: 10; 
        opacity: .5;
        background-color: var(--wood-light-grey);    
        color: black;
}
.pdf{
    display: flex;
    justify-content: flex-end;
    button{
    background-color: var(--wood);
    color: white;
    }
}
.input-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img{
    max-width: 15%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 26%);
}
form[container]{
    background-color: #e0e3e88a;
}
h2[quote]{
    color: #003e1d;
}