.bottom-card{
    max-width: 90%;
}
.btm-pad{
margin-bottom: 10%;
}
.text{
    display: none;
    @media (min-width: 601px) {
    display: flex;
    justify-content: center;
    }
}
.pdf{
    display: flex;
    justify-content: flex-end;
    button{
    color: white;
    }
}
.spin-text{
    color: #0b5ed7;
}
.spinner{
    border: 2px solid #0b5ed7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.size-space{
    padding-bottom: 3%;
}
.input-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img{
    max-width: 50%;
    @media (min-width: 601px) {
        max-width: 20%;
    }
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 26%);
}
header{
    background-color: #f5f5f5;
}

h2{
    word-wrap: break-word; 
    font-size: 1.9em; 
    font-weight: bold;
    color: black;
  @media (min-width: 601px) {
    font-size: 2.1em; 
  }
  @media (min-width: 1025px) {
    font-size: 2vw; 
  }
  }
h2[quote]{
    color: #003e1d;
}
.notes-container, .notes-form  {
    width: 100%; 
} 
.notes {
    width: 100%; 
    overflow: hidden; 
    min-height: 175px; 
    resize: none; 
  }
mat-card-actions{
    justify-content: space-between;
}
form{
    padding-bottom: 1%;
}