<div id="quote">
<header class="p-3" #quote>
  <div  class="container">
    <div class="row align-items-center power-column">
        <!-- Company Details -->
        <div blackIcons  class="col text-center">
          <img pdf src="../../assets/Neslo.png" class="img-fluid img" alt="Neslo logo">
        <h1 class="mt-1 pb-1 mb-0 text headings">Neslo Premium Windows and Doors</h1>
        <p class="mb-1 headings">
          <span class="material-symbols-outlined">
            call
            </span>
        <a href="tel:+14039941202" matTooltip="Open FaceTime" class="link-secondary" aria-label="Call us at (403)-994-1202">(403)-994-1202</a>
      </p>
      <p class="mb-1 headings">
        <span class="material-symbols-outlined">
          mail
          </span>
        <a href="mailto:Foldingslidingdoors.ab@gmail.com" class="link-secondary" matTooltip="Open Email" aria-label="Email Erik at Neslo Windows and Doors">Foldingslidingdoors.ab&#64;gmail.com
        </a>
      </p>
      <p class="mb-1 headings">
        <i class="bi bi-instagram"></i>
        &#160;
        <a href="https://www.instagram.com/foldingslidingdoors_erik" target="_blank" class="link-secondary" matTooltip="Visit our instagram" 
        aria-label="Neslo Instagram Link"> &#64;FoldingSlidingDoors_Erik</a>
      </p>
      </div>
      <div class="col text-center">
      <h2 quote class="mt-3">
        Quote Request
       </h2>
        <p class="headings">{{ quoteForm.get('jobName')?.value }}</p>
        <p>{{ currentDateTime | date: 'fullDate' }}</p>
        <p id="quoteNumber"></p>
      </div> 
    </div>
    </div>
</header>

<form [formGroup]="quoteForm" #formElement>
          <!-- Dealer Information Section -->
          <div  class="container">
              <!-- Dealer Information Section -->
          <div class="d-flex flex-column flex-md-row">
          <div  class="my-2 mx-2 col-12 col-md-6">
          <section class="py-3" aria-labelledby="dealerInfo">
        <h2>Dealer Information
        <mat-divider></mat-divider>
        </h2>
        <!-- Dealer Name -->
       <app-text-reuse [intro]="'Dealer Name'" id="dealerName" [value]="quoteForm.get('dealerName')?.value"
        [intValue]="'Erik Olsen'" (valueChange)="updateField('dealerName', $event)"></app-text-reuse>
        <!-- Dealer Branch -->
        <app-text-reuse [intro]="'Branch Name'" id="dealerBranch" [value]="quoteForm.get('dealerBranch')?.value"
        [intValue]="'Neslo'" (valueChange)="updateField('dealerBranch', $event)"></app-text-reuse>
        <!-- Contact Name -->
        <!-- <app-text-reuse  [intro]="'Contact Name'" id="contactName" [value]="quoteForm.get('contactName')?.value"
         (valueChange)="updateField('contactName', $event)"></app-text-reuse> -->
        <!-- Contact Email -->
        <app-text-reuse [intro]="'Contact Email'" id="contactEmail" [value]="quoteForm.get('contactEmail')?.value"
         [intValue]="'Foldingslidingdoors.ab@gmail.com'" [types]="'email'" (valueChange)="updateField('contactEmail', $event)"></app-text-reuse>
        <!-- Phone -->
        <app-text-reuse [intro]="'Contact Phone'" id="contactPhone" [value]="quoteForm.get('contactPhone')?.value"
          [intValue]="'(403) 994 - 1202'" [types]="'tel'" (valueChange)="updateField('contactPhone', $event)"></app-text-reuse>
        </section>
        </div>
      <!-- Job Information -->
      <div class="my-2 mx-2 col-12 col-md-6">
      <section class="py-3">
        <h2>Job Information
        <mat-divider></mat-divider>
        </h2>
        <ul>
          <li>
            <p>
          All Configurations are ‘Viewed from the inside’.
            </p>
          </li>
          </ul>
        <app-text-reuse  [intro]="'Job Name'" id="jobName" [value]="quoteForm.get('jobName')?.value"
         (valueChange)="updateField('jobName', $event)"></app-text-reuse>
        <app-text-reuse [need]="true" [intro]="'Site Address'" id="jobSiteAddress" [value]="quoteForm.get('jobSiteAddress')?.value"
         (valueChange)="updateField('jobSiteAddress', $event)"></app-text-reuse>
        <app-text-reuse [need]="true" [intro]="'City'" id="jobCity" [value]="quoteForm.get('jobCity')?.value"
        (valueChange)="updateField('jobCity', $event)"></app-text-reuse>
        <app-date-reuse  [intro]="'Date'" id="date" [value]="quoteForm.get('date')?.value"
        (valueChange)="updateField('date', $event)"></app-date-reuse>
        </section>
      </div>
  </div>
  </div>

      <!-- Door Model Information -->
      <div class="row justify-content-center">
        <div class="container col-12 col-md-6">
      <section class="py-3 px-3">
        <h2>Specify your selection
        <mat-divider></mat-divider>
        </h2>
        <ul>
          <li>
            <p>If Door Model is FD72 then Interior Finish is ‘Same as Exterior’</p>
          </li>
        </ul>
          <div class="row">
            <!-- Column for the first set of options -->
            <div class="col-12 col-md-6">
           <app-auto-search [intro]="'Door Model'" id="doorModel" [value]="quoteForm.get('doorModel')?.value"
            [initialList]="doorModel" (valueChange)="updateField('doorModel', $event)">
          </app-auto-search>
        <!-- Ext finish -->
           <app-auto-search [intro]="'Exterior Finish'" id="exteriorFinish" [value]="quoteForm.get('exteriorFinish')?.value"
           (valueChange)="updateField('exteriorFinish', $event)" [initialList]="exteriorFinish">
          </app-auto-search>
        <!-- Ext color --> 
           <app-text-reuse [need]="true" [intro]="'Exterior Color'" id="exteriorColor" [value]="quoteForm.get('exteriorColor')?.value"
           (valueChange)="updateField('exteriorColor', $event)">
          </app-text-reuse >
        <!-- Int finish -->
           <app-auto-search [intro]="'Interior Finish'" id="interiorFinish" [value]="quoteForm.get('interiorFinish')?.value"
            (valueChange)="updateField('interiorFinish', $event)" [initialList]="interionFinish">
          </app-auto-search>
        <!-- Int Color -->
           <app-text-reuse [need]="true" [intro]="'Interior Color'" id="interiorColor" [value]="quoteForm.get('interiorColor')?.value"
           (valueChange)="updateField('interiorColor', $event)">
          </app-text-reuse >
        </div>
        <!-- Glass -->
        <div class="col-12 col-md-6">
           <app-auto-search [intro]="'Glass'" id="glass" [value]="quoteForm.get('glass')?.value"
            (valueChange)="updateField('glass', $event)" [initialList]="glass">
          </app-auto-search>
        <!-- Handle Color -->
           <app-text-reuse [need]="true" [intro]="'Handle Color'" id="handleColor" [value]="quoteForm.get('handleColor')?.value"
            (valueChange)="updateField('handleColor', $event)">
          </app-text-reuse>
           <!-- Additional Notes -->
        <div class="notes-container">
          <mat-form-field class="notes-form" id="additionalNotes" appearance="fill">
          <mat-label>Additional notes...</mat-label>
          <textarea matInput appHideFocus formControlName="additionalNotes" class="notes" 
          (input)="resizeTextarea($event)"></textarea>
        </mat-form-field>
        </div>
          </div>
          </div>
      </section>
    </div>
    </div>
    @defer(on viewport(quote)){
    <app-grid-form (sendGrid)="grid($event)" [gridForm]="gridFormArray"></app-grid-form>
    } @placeholder {
      <app-skeleton-form-fill class="d-flex justify-content-center"></app-skeleton-form-fill>
    } 
    <div id="ignore1" class="g-3 g-md-3 btm-pad container justify-content-md-between">
        <mat-card class="bottom-card">
          <mat-card-header>
            <mat-card-title>Reference Forms</mat-card-title>
          </mat-card-header> 
          <mat-card-content>
        <div class="size-space">
          <button mat-fab extended color="warn" (click)="standard()">Standard Size Configurations
            <mat-icon class="material-symbols-outlined">
              select_window
            </mat-icon>
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions>
<!-- Submit Button -->
  <div class="pdf">
  @if(!progress){
    @if(this.orientationService.screen()){
    <button mat-fab color="primary" (click)="generatePDF()" aria-label="Pdf generator button">
      <mat-icon  class="material-symbols-outlined">
        picture_as_pdf      
        </mat-icon>
    </button>
  }@else{
  <button mat-fab color="primary" extended (click)="generatePDF()" matTooltip="Download your quote"
  aria-label="Pdf generator button and label">
    <mat-icon class="material-symbols-outlined">
    picture_as_pdf      
    </mat-icon>
    Download Quote
  </button> 
}} @else {
  <div class="spinner" aria-live="assertive">
    <mat-spinner [diameter]="40"></mat-spinner>
    <div class="px-3 spin-text">Creating PDF</div>
  </div>
}

<!-- @if(this.orientationService.screen()){
  <button mat-fab clear (click)="clearForm()"  aria-label="Clear form button">
    <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
  </button>
}@else{
<button mat-fab clear extended (click)="clearForm()"  matTooltip="Clear your form"
aria-label="Clear form button and label">
<mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
  Clear quote form
</button> 
} -->

  @if(this.orientationService.screen()){
          <button mat-fab  color="primary" (click)="contactForm()"
          matTooltip="Navigate to contact form" aria-label="Message navigation button">
            <mat-icon  class="material-symbols-outlined">
              mail      
              </mat-icon>
          </button>
        } @else{
          <button mat-fab extended color="primary" aria-label="Message navigation button"
          (click)="contactForm()"  (mouseover)="onHover(true)" (mouseleave)="onHover(false)">
          Create a message
          <mat-icon class="material-symbols-outlined">
            @switch (state) { 
                @case ('noFocus') { create }
                @case ('focus') { arrow_right_alt }
               @default { create }
              }
            </mat-icon>
          </button>
        }
    </div>
    </mat-card-actions>
    </mat-card>
    </div>
</form>
</div>