.back-btn{
        position: fixed;
        bottom: 45px;  
        left: 50%; 
        z-index: 10; 
        background-color: var(--wood-light);    
        color: black;    
    @media (min-width: 601px) {
            top: 20px; 
            left: 20px; 
            bottom: unset;
            opacity: .5;
            background-color: var(--wood-light-grey);    
        }
}
.pdf{
    display: flex;
    justify-content: flex-end;
    button{
    color: white;
    }
}
button[email]{
    background-color: var(--wood);
}
.spin-text{
    color: #0b5ed7;
}
.spinner{
    border: 2px solid #0b5ed7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.size-space{
    padding-bottom: 3%;
}
.input-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img{
    max-width: 50%;
    @media (min-width: 601px) {
        max-width: 20%;
    }
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 26%);
}
header{
    background-color: #f5f5f5;
}
h2[quote]{
    color: #003e1d;
}
.notes-container, .notes-form  {
    width: 100%; 
} 
.notes {
    width: 100%; 
    overflow: hidden; 
    min-height: 175px; 
    resize: none; 
  }