<div id="quote">
<header class="p-3">
  <div  class="container">
    <div class="row align-items-center">
        <!-- Company Details -->
        <div class="col text-center">
          <img pdf src="../../assets/folding_sliding_doors_logo.png" class="img-fluid img" alt="Folding Sliding Doors Canada Ltd Logo">
        <h1 class="mt-1 pb-1 mb-0 text">Folding Sliding Doors Canada Ltd.</h1>
        <p pdf class="mb-1">105 - 1155 St. Paul Street</p>
        <p pdf class="mb-1">Kelowna, BC V1Y 2C6</p>
        <p pdf class="mb-1">(250)-448-6418</p>
        <button id="ignore0" class="back-btn" mat-fab (click)="returnHome()">
          <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
        </button>  
      </div>
      <div class="col text-center">
      <h2 quote class="mt-3">
        Quote Request
       </h2>
        <!-- Contact Information -->
        <p class="mb-1">
          Phone:
          <a href="tel:+12504486418" class="link-secondary" aria-label="Call us at (250)-448-6418">(250)-448-6418</a>
        </p>
        <p class="mb-1">
          Email:
          <a href="mailto:sales@foldingslidingdoors.ca" class="link-secondary" aria-label="Email sales at Folding Sliding Doors Canada">sales&#64;foldingslidingdoors.ca</a>
        </p>
        <p class="mb-1">
          Web:
          <a href="https://www.foldingslidingdoors.ca" class="link-secondary" aria-label="Visit Folding Sliding Doors Canada website">www.foldingslidingdoors.ca</a>
        </p>
      </div> 
    </div>
         
    </div>
 
</header>

    <form [formGroup]="quoteForm" (ngSubmit)="generatePDF()" >
          <!-- Dealer Information Section -->
          <div  class="container">
              <!-- Dealer Information Section -->
          <div class="d-flex flex-column flex-md-row">
          <div  class="my-2 mx-2 col-12 col-md-6">
          <section class="py-3" aria-labelledby="dealerInfo">
        <h2>Dealer Information
        <mat-divider></mat-divider>
        </h2>
        <!-- Dealer Name -->
       <app-text-reuse [intro]="'Dealer Name'" id="dealerName" [value]="quoteForm.get('dealerName')?.value"
        [intValue]="'Erik Olsen'" (valueChange)="updateField('dealerName', $event)"></app-text-reuse>
        <!-- Dealer Branch -->
        <app-text-reuse [intro]="'Branch Name'" id="dealerBranch" [value]="quoteForm.get('dealerBranch')?.value"
          (valueChange)="updateField('dealerBranch', $event)"></app-text-reuse>
        <!-- Contact Name -->
        <app-text-reuse  [intro]="'Contact Name'" id="contactName" [value]="quoteForm.get('contactName')?.value"
         (valueChange)="updateField('contactName', $event)"></app-text-reuse>
        <!-- Contact Email -->
        <app-text-reuse [intro]="'Contact Email'" id="contactEmail" [value]="quoteForm.get('contactEmail')?.value"
         [intValue]="'Foldingslidingdoors.ab@gmail.com'" [types]="'email'" (valueChange)="updateField('contactEmail', $event)"></app-text-reuse>
        <!-- Phone -->
        <app-text-reuse [intro]="'Contact Phone'" id="contactPhone" [value]="quoteForm.get('contactPhone')?.value"
          [intValue]="'(403) 994 - 1202'" [types]="'tel'" (valueChange)="updateField('contactPhone', $event)"></app-text-reuse>
        </section>
        </div>
      <!-- Job Information -->
      <div class="my-2 mx-2 col-12 col-md-6">
      <section class="py-3">
        <h2>Job Information
        <mat-divider></mat-divider>
        </h2>
        <ul>
          <li>
            <p>
          All Configurations are `Viewed from the inside`.
            </p>
          </li>
          </ul>
        <app-text-reuse  [intro]="'Job Name'" id="jobName" [value]="quoteForm.get('jobName')?.value"
         (valueChange)="updateField('jobName', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'Site Address'" id="jobSiteAddress" [value]="quoteForm.get('jobSiteAddress')?.value"
         (valueChange)="updateField('jobSiteAddress', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'City'" id="jobCity" [value]="quoteForm.get('jobCity')?.value"
        (valueChange)="updateField('jobCity', $event)"></app-text-reuse>
        <app-date-reuse  [intro]="'Date'" id="date" [value]="quoteForm.get('date')?.value"
        (valueChange)="updateField('date', $event)"></app-date-reuse>
        </section>
      </div>
  </div>
  </div>

      <!-- Door Model Information -->
      <div class="row justify-content-center">
        <div class="container col-12 col-md-6">
      <section class="py-3 px-3">
        <h2>Specify your selection
        <mat-divider></mat-divider>
        </h2>
          <div class="row">
            <ul>
              <li>
                <p>If Door Model is FD72 then Interior Finish is ‘Same as Exterior’</p>
              </li>
            </ul>
            <!-- Column for the first set of options -->
            <div class="col-12 col-md-6">
           <app-auto-search [intro]="'Door Model'" id="doorModel" [value]="quoteForm.get('doorModel')?.value"
            [initialList]="doorModel" (valueChange)="updateField('doorModel', $event)">
          </app-auto-search>
        <!-- Ext finish -->
           <app-auto-search [intro]="'Exterior Finish'" id="exteriorFinish" [value]="quoteForm.get('exteriorFinish')?.value"
           (valueChange)="updateField('exteriorFinish', $event)" [initialList]="exteriorFinish">
          </app-auto-search>
        <!-- Ext color --> 
           <app-text-reuse  [intro]="'Exterior Color'" id="exteriorColor" [value]="quoteForm.get('exteriorColor')?.value"
           (valueChange)="updateField('exteriorColor', $event)">
          </app-text-reuse >
        <!-- Int finish -->
           <app-auto-search [intro]="'Interior Finish'" id="interiorFinish" [value]="quoteForm.get('interiorFinish')?.value"
            (valueChange)="updateField('interiorFinish', $event)" [initialList]="interionFinish">
          </app-auto-search>
        <!-- Int Color -->
           <app-text-reuse  [intro]="'Interior Color'" id="interiorColor" [value]="quoteForm.get('interiorColor')?.value"
           (valueChange)="updateField('interiorColor', $event)">
          </app-text-reuse >
        </div>
        <!-- Glass -->
        <div class="col-12 col-md-6">
           <app-auto-search [intro]="'Glass'" id="glass" [value]="quoteForm.get('glass')?.value"
            (valueChange)="updateField('glass', $event)" [initialList]="glass">
          </app-auto-search>
        <!-- Handle Color -->
           <app-text-reuse [intro]="'Handle Color'" id="handleColor" [value]="quoteForm.get('handleColor')?.value"
            (valueChange)="updateField('handleColor', $event)">
          </app-text-reuse>
           <!-- Additional Notes -->
        <div class="notes-container">
          <mat-form-field class="notes-form" id="additionalNotes" appearance="fill">
          <mat-label>Additional notes...</mat-label>
          <textarea matInput formControlName="additionalNotes" class="notes" (input)="resizeTextarea($event)"></textarea>
        </mat-form-field>
        </div>
          </div>
          </div>
      </section>
    </div>
    </div>
    @defer(on viewport){
    <app-grid-form (sendGrid)="grid($event)" [gridForm]="gridFormArray"></app-grid-form>
    } @placeholder {
      <app-skeleton-form-fill class="d-flex justify-content-center"></app-skeleton-form-fill>
    }
    <div id="ignore1" class="g-3 g-md-3 container justify-content-md-between d-block d-md-flex">
      <!-- Submit Button -->
      <div class="pdf col-12 col-md-6 justify-content-start">
        <!-- [disabled]="quoteForm.invalid" -->
        @if(!progress){
        <button mat-fab color="primary"  extended type="submit" class="btn btn-primary">
          <mat-icon class="material-symbols-outlined">
          picture_as_pdf      
          </mat-icon>
          Download PDF
        </button> 
      } @else {
        <div class="spinner" aria-live="assertive">
          <mat-spinner [diameter]="40"></mat-spinner>
          <div class="px-3 spin-text">Creating PDF</div>
        </div>
      }
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-end ">
        <button email mat-fab extended  class="btn btn-primary"
        (click)="contactForm()"  (mouseover)="onHover(true)" (mouseleave)="onHover(false)">
        Email PDF
        <mat-icon class="material-symbols-outlined">
          @switch (state) { 
              @case ('noFocus') { keyboard_arrow_right }
              @case ('focus') { arrow_right_alt }
             @default { keyboard_arrow_right }
            }
          </mat-icon>
        </button>
      </div>
      <nav class="bg-light nav-btn" id="ignore2" >
          <button mat-raised-button  (click)="returnHome()" >
            Home Page
          </button>
      </nav>
      </div>
      @defer {
        <div class="size-space">
      <app-standard-config-size></app-standard-config-size>
        </div>
      }
    </form>
  </div>