<div  class="intro-head" [@fadeIn]>
  <div>
      <h1 class="the-title">
        <span class="extra-text">
        Welcome to 
        </span>
        Neslo
        @if(orientation){
      <mat-divider></mat-divider>
        }
      </h1>
    <h2 heading>Your trusted partner in premium windows and doors</h2>
  </div>
  @if(orientation){
  <div class="d-flex justify-content-center flex-column align-items-center  ">
    <div class="door-image">
    <img src="../assets/door.png" class="img gap-2" alt="Neslo Door">
    </div>
    <div class="d-flex flex-column ">
      <button mat-raised-button  
        class="mobile" (click)="navigateToContact()">
          Learn about us
      </button>
      <div>
      <button mat-fab class="msg-icon"  (click)="navigateToMsg()">
              <mat-icon class="material-symbols-outlined">
                mail
              </mat-icon>
      </button>
    </div>
      <button mat-raised-button class="mobile-request" (click)="requestQuote()">
          Request a quote
      </button>
    </div>
  </div>
  } @else {
    <div [ngClass]="{'flex-column': orientation, 'flex-sm-row': orientation}" class="universal gap-2 ">
        <button mat-fab extended  
            class="btn btn-primary btn-lg" (click)="navigateToContact()">
            Learn about us
            <mat-icon class="material-symbols-outlined">
                contact_mail
            </mat-icon>
        </button>
        <button mat-fab extended  
         class="btn btn-primary btn-lg px-4 quoteDesk" (click)="requestQuote()">
            Request a quote
              <mat-icon class="material-symbols-outlined">
                attach_money
              </mat-icon>
        </button>
        <button mat-fab extended
    class="btn btn-primary btn-lg" (click)="navigateToMsg()">
            Send a message
              <mat-icon class="material-symbols-outlined">
                mail
              </mat-icon>
        </button>
    </div>
  }
</div>    
