<form [formGroup]="doorConfigForm" id="gridLayout">
  <mat-card>
  <div class="table-responsive-md">
    <table class="table d-block d-md-table">
<caption class="text-center">We do not build the following Configurations: 1+2, 2+3, 4+1, and 3+4</caption>
<thead>
  <tr>
    <th pdf colspan="1">
      <div titles>Set #</div>
  <mat-divider></mat-divider>
    </th>
    <th pdf colspan="1">
      <div titles>Room Label</div>
<mat-divider></mat-divider>
    </th>
      <th pdf colspan="2">
        <div class="text-center">
          Rough Opening
      <div row>
      <div>Width (ins)
<mat-divider></mat-divider>
      </div>
      <div>Height (ins)
<mat-divider></mat-divider>

      </div>
      </div>
    </div>
      </th>
    <th pdf colspan="3">
      <div titles>Configuration</div>
<mat-divider></mat-divider>

    </th>
    <th pdf colspan="1">
      <div titles>Left</div>
<mat-divider></mat-divider>

    </th>
    <th pdf colspan="1">
      <div titles>Right</div>
<mat-divider></mat-divider>

    </th>
    <th pdf colspan="1">
      <div titles>Active Panel</div>
<mat-divider></mat-divider>

    </th>
  </tr>
</thead>
      <tbody formArrayName="rows">
      @for(rowControl of rows.controls; let i = $index; track rowControl){
                <tr [formGroupName]="i">
                  <td class="bg-transparent">
                    <div class="align-items-center">
                    @if(i > 0){
              <button mat-fab extended color="warn" (click)="removeRow(i)">
                  {{ i + 1}}
                <mat-icon class="material-symbols-outlined">remove</mat-icon>
              </button>
              } @else {
                <button mat-fab extended id="addRow" color="warn" (click)="addRow()">
                  <mat-icon class="material-symbols-outlined">add</mat-icon>
                    Row
              </button>
              }
            </div>
              </td>
      <!-- Room Label -->
  <td>
    <mat-form-field [id]="'roomLabel-' + i" blue appearance="fill">
      <input matInput type="text" formControlName="roomLabel">
    </mat-form-field>
  </td>
  <!-- Rough Opening Width -->
  <td>
    <mat-form-field [id]="'width-' + i" green appearance="fill">
      <input matInput type="text" formControlName="width">
    </mat-form-field>
  </td>
  <!-- Rough Opening Height -->
  <td>
    <mat-form-field [id]="'height-' + i" green appearance="fill">
      <input matInput type="text" formControlName="height">
    </mat-form-field>
  </td>
  <!-- Configuration0 -->
  <td>
    <mat-form-field [id]="'configuration0-' + i" red appearance="fill">
      <input matInput type="text" formControlName="configuration0">
    </mat-form-field>
  </td>
      <td class="plus">+</td>
  <td>
    <mat-form-field [id]="'configuration1-' + i" red appearance="fill">
      <input matInput type="text" formControlName="configuration1">
    </mat-form-field>
  </td>
  <!-- Left -->
  <td>
    <mat-form-field [id]="'left-' + i" appearance="fill">
      <input matInput type="text" formControlName="left">
    </mat-form-field>
  </td>
  <!-- Right -->
  <td>
    <mat-form-field [id]="'right-' + i" appearance="fill">
      <input matInput type="text" formControlName="right">
    </mat-form-field>
  </td>
  <!-- Active Panel -->
  <td>
    <mat-form-field [id]="'activePanel-' + i" purple appearance="fill">
      <mat-select formControlName="activePanel">
        <mat-option value="Right">Right</mat-option>
        <mat-option value="Left">Left</mat-option>
      </mat-select>
    </mat-form-field>
    </td>
  </tr>
  }
</tbody>
</table>
</div>
</mat-card>
</form>
  