<form [formGroup]="doorConfigForm">
  <mat-card>
  <div class="table-responsive-md">
    <table class="table d-block d-md-table">
<caption class="text-center">We do not build the following Configurations: 1+2, 2+3, 4+1, and 3+4</caption>
<thead>
  <tr>
    <th colspan="1">
      <div titles>SET #</div>
    </th>
    <th colspan="1">
      <div titles>ROOM LABEL</div>
    </th>
      <th colspan="2">
        <div class="text-center">ROUGH OPENING
      <div row>
      <div>Width (ins)</div>
      <div>Height (ins)</div>
      </div>
    </div>
      </th>
    <th colspan="3">
      <div titles>CONFIGURATION</div>
    </th>
    <th colspan="1">
      <div titles>LEFT</div>
    </th>
    <th colspan="1">
      <div titles>RIGHT</div>
    </th>
    <th colspan="1">
      <div titles>ACTIVE PANEL</div>
    </th>
  </tr>
</thead>

      <tbody formArrayName="rows">
      @for(rowControl of rows.controls; let i = $index; track rowControl){
                <tr [formGroupName]="i">
                  <td class="bg-transparent">
                    <div class="align-items-center">
                    @if(i > 0){
              <button mat-fab extended close (click)="removeRow(i)">
                  {{ i + 1}}
                <mat-icon class="material-symbols-outlined">close</mat-icon>
              </button>
              } @else {
                <button mat-fab extended add class="align-items-center" (click)="addRow()">
                  <mat-icon class="material-symbols-outlined">add</mat-icon>
                    Row
              </button>
              }
            </div>
              </td>
      <!-- Room Label -->
      <td>
        <mat-form-field blue appearance="fill">
        <input matInput type="text" formControlName="roomLabel">
      </mat-form-field>
    </td>
      <!-- Rough Opening -->
      <td>
        <mat-form-field green appearance="fill">
          <input matInput type="text"  formControlName="width">
        </mat-form-field>
      </td>
      <td >
        <mat-form-field green appearance="fill">
          <input matInput type="text"  formControlName="height">
        </mat-form-field>
      </td>
      <td>
      <!-- Configuration -->
      <mat-form-field red appearance="fill">
        <input matInput type="text" formControlName="configuration0">
      </mat-form-field>
      </td>
      <td class="plus">+</td>
      <td>
        <mat-form-field red appearance="fill">
        <input matInput type="text"  formControlName="configuration1">
      </mat-form-field>
    </td>
    <td>
      <!-- Left -->
      <mat-form-field appearance="fill">
        <input matInput type="text"  formControlName="left">
      </mat-form-field>
    </td>
      <td>
      <!-- Right -->
      <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="right">
      </mat-form-field>
      </td>
  <td>
      <!-- Active Panel -->
      <mat-form-field purple appearance="fill">
    <mat-select formControlName="activePanel">
        <mat-option value="Right">Right</mat-option>
        <mat-option value="Left">Left</mat-option>
    </mat-select>
  </mat-form-field>
    </td>
  </tr>
  }
</tbody>

</table>
</div>
</mat-card>
</form>
  