button[close]{
    background-color: lightgray;
}
button[add]{
    margin-top: 5%;
    background-color: var(--green);
}
div[titles]{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
div[row]{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.plus {
    text-align: center; 
    vertical-align: middle; 
    font-size: 1.5rem; 
    background-color: transparent;
  }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    table-layout: fixed;
    background-color: transparent;
    border-collapse: separate; 
    border-spacing: 7px 0;  
  }    
.table td {
    min-width: 120px; 
    overflow: hidden; 
  }
td {
    text-align: center; 
    padding: 3px; 
  }

th{
    border: 1px ;
    background-color: var(--green);
    color: white;
}
input, .mat-form-field {
    width: 100%; 
    box-sizing: border-box; 
  }
mat-form-field[blue]{
    background-color: rgb(21, 35, 40);
}
mat-form-field[green]{
    background-color: lightgreen;
}
mat-form-field[red]{
    background-color: hwb(0 46% 14%);
}
mat-form-field[purple]{
    background-color: rgb(224, 154, 224);
    color: white;
    text-align: center;
    width: 100%;
}

