div[titles]{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
div[row]{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
mat-card{
    margin: 0% 1% 2% 1%;
}
.plus {
    text-align: center; 
    vertical-align: middle; 
    font-size: 1.5rem; 
    background-color: transparent;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    table-layout: fixed;
    background-color: transparent;
    border-collapse: separate; 
    border-spacing: 7px 0;  
  }    
.table td {
    min-width: 120px; 
    overflow: hidden; 
  }
td {
    text-align: center; 
    padding: 3px; 
  }

th{
    border: 1px;
    color: var(--green);
}
mat-form-field {
    width: 100%; 
    box-sizing: border-box; 
  }
mat-form-field[blue]{
    background-color: var(--blue-field);
}
mat-form-field[green]{
    background-color: var(--green-field);
}
mat-form-field[red]{
    background-color: var(--red);
}
mat-form-field[purple]{
    background-color: #917c92;
    text-align: center;
    width: 100%;
}