    <h3 class="text-center mb-3">{{title}}</h3>
    <p class="text-center">{{intro}}</p>
   <div class="text-center">
    <p>
        <a class="link-secondary" href="tel:`{{tel}}`">Phone: {{tel}}</a>
    </p>
    <p>
        <a class="link-secondary" href="mailto:`{{email}}`">
           Email: {{email}}
        </a>
    </p>
    @if(fax){
    <p>
        <a class="link-secondary">
           Fax: {{fax}}
        </a>
    </p>
}
    <p class="text-center" [innerHTML]="message">
    </p> 
</div> 
