<header class="bg-light p-3">
  <div class="container">
    <div class="row align-items-center">
        <!-- Company Logo -->
        <div>
        <img src="assets/images/folding_sliding_doors_logo.png"  class="img-fluid mb-2" alt="Folding Sliding Doors Canada Ltd. Logo">
        </div>
        <!-- Company Details -->
        <div class="col text-center">
        <h1 class="h3 mb-0">Folding Sliding Doors Canada Ltd.</h1>
        <p class="mb-1">105 - 1155 St. Paul Street</p>
        <p class="mb-1">Kelowna, BC V1Y 2C6</p>
        <p class="mb-1">Ph: 1(250)-448-6418</p>
      </div>
      <div class="col text-center">
      <h4 class="mt-3 bg-success">
        QUOTE REQUEST
       </h4>
        <!-- Contact Information -->
        <p class="mb-1">
          <a href="tel:12504486418" class="link-secondary">Ph: 1(250)-448-6418</a>
        </p>
        <p class="mb-1">
          <a href="mailto:sales@foldingslidingdoors.ca" class="link-secondary">Email: sales&#64;foldingslidingdoors.ca</a>
        </p>
        <p class="mb-1">
          <a href="https://www.foldingslidingdoors.ca" class="link-secondary">Web: www.foldingslidingdoors.ca</a>
        </p>
      </div>      
    </div>
  </div>
</header>
<div class="mt-3">
    <form [formGroup]="quoteForm" (ngSubmit)="generatePDF()">
    <section  class="section-padding row bg-light">
        <!-- Dealer Information Section -->
        <div container class="col-12 col-md-6 contaiiner">
        <h4>Dealer Information</h4>
        <!-- alwasy dad ! -->
       <app-text-reuse [intro]="'Dealer Name'" [label]="'Erik Olsen'" (valueChange)="updateField('dealerName', $event)"></app-text-reuse>
        <!-- Dealer Branch -->
        <app-text-reuse [intro]="'Branch Name'"  (valueChange)="updateField('dealerBranch', $event)"></app-text-reuse>
        <!-- Contact Name -->
        <app-text-reuse  [intro]="'Contact name'" (valueChange)="updateField('contactName', $event)"></app-text-reuse>
        <!-- Contact Email -->
        <app-text-reuse [intro]="'Contact email'" [label]="'redman68&#64;live.ca'" [types]="'email'" (valueChange)="updateField('jobName', $event)"></app-text-reuse>
        <!-- Phone -->
        <app-text-reuse [intro]="'Contact phone'"  [label]="'403 994 - 1202'" [types]="'tel'" (valueChange)="updateField('contactPhone', $event)"></app-text-reuse>
      </div>
      <!-- Job Information -->
      <div class="col-12 col-md-6">
        <h4>Job Information</h4>
        <ul>
          <li>
          All Configurations are Viewed from the inside.
          </li>
          </ul>
        <app-text-reuse  [intro]="'Job name'" (valueChange)="updateField('jobName', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'Site adress'" (valueChange)="updateField('jobSiteAddress', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'City'" (valueChange)="updateField('jobCity', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'Date'" [types]="'date'" (valueChange)="updateField('date', $event)"></app-text-reuse>
        </div>
      </section>
      <!-- Door Model Information -->
      <section  class="section-padding  bg-light">
        <div container class="col-12 col-md-6 container">
        <h4>Specify your selection</h4>
           <app-auto-search [label]="'Door Model'" [hint]="'If Door Model is FD72 then Interior Finish is `Same as Exterior`'"
           [filler]="'FD27 PVCU'" [initialList]="doorModel" (valueChange)="updateField('doorModel', $event)">
          </app-auto-search>
        <!-- Ext finish -->
           <app-auto-search [label]="'Exterior Finish'" (valueChange)="updateField('exteriorFinish', $event)"
           [filler]="exteriorFinish[0]" [initialList]="exteriorFinish">
          </app-auto-search>
        <!-- Ext color -->
           <app-text-reuse  [label]="'Exterior Color'" 
           (valueChange)="updateField('exteriorColor', $event)">
          </app-text-reuse >
        <!-- Int finish -->
           <app-auto-search [label]="'Interior Finish'" (valueChange)="updateField('interiorFinish', $event)"
           [filler]="interionFinish[0]" [initialList]="interionFinish">
          </app-auto-search>
        <!-- Int Color -->
           <app-text-reuse  [label]="'Interior Color'" (valueChange)="updateField('interiorColor', $event)">
          </app-text-reuse >
        <!-- Glass -->
        <div class="col-12 col-md-6">
           <app-text-reuse [label]="'Glass'"  (valueChange)="updateField('glass', $event)">
          </app-text-reuse>

        <!-- Handle Color -->
           <app-text-reuse [label]="'Handle Color'" (valueChange)="updateField('handleColor', $event)">
          </app-text-reuse>
          </div>
      </div>
      </section>
  
      <!-- Additional Notes -->
      <div class="mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Additional Notes:</mat-label>
        <textarea matInput rows="2" formControlName="additionalNotes">
          @if(contactForm.get('additionalNotes')?.value){
              <button matSuffix mat-icon-button (click)="onClearMessage()">
                <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
              </button>
            }
        </textarea>
        </mat-form-field>
      </div>
      <!-- Submit Button -->
      <div class="mb-3">
        <button mat-fab extended type="submit" class="btn btn-primary">
          <mat-icon class="material-symbols-outlined">
            picture_as_pdf
          </mat-icon>
          Download as PDF
        </button>
      </div>
    </form>
      </div>
<!-- Attach a message and email driectly to Neslo -->

  