button[back]{
        position: fixed;
        top: 20px; 
        left: 20px; 
        z-index: 10; 
        opacity: .7;
        background-color: var(--wood-light-grey);    
        color: black;
}
.quote-head{
    color: var(--green);
}
.pdf{
    display: flex;
    justify-content: flex-end;
    button{
    background-color: var(--wood);
    color: white;
    }
}
.input-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form[container]{
    background-color: var(--wood-light-grey);
}