<!-- You can use the 'container', 'row', and 'col' classes from Bootstrap to layout your form -->
<div class="container mt-3">
    <form [formGroup]="quoteForm" (ngSubmit)="generatePDF()">
      <div class="row">
        <!-- Dealer Information Section -->
        <div class="col-12 col-md-6">
        <h4>Dealer Information</h4>
        <!-- alwasy dad ! -->
       <app-text-reuse [intro]="'Dealer Name'" [label]="'Erik Olsen'" (valueChange)="updateField('dealerName', $event)"></app-text-reuse>
        <!-- Dealer Branch -->
        <app-text-reuse [intro]="'Branch Name'"  (valueChange)="updateField('dealerBranch', $event)"></app-text-reuse>
        <!-- Contact Name -->
        <app-text-reuse  [intro]="'Contact name'" (valueChange)="updateField('contactName', $event)"></app-text-reuse>
        <!-- Contact Email -->
        <app-text-reuse [intro]="'Contact email'" [label]="'redman68&#64;live.ca'" [types]="'email'" (valueChange)="updateField('jobName', $event)"></app-text-reuse>
        <!-- Phone -->
        <app-text-reuse [intro]="'Contact number'"  [label]="'403 994 - 1202'" [types]="'tel'" (valueChange)="updateField('contactPhone', $event)"></app-text-reuse>
      </div>
  
      <!-- Job Information -->
      <div class="col-12 col-md-6">
        <h4>Job Information</h4>
        <ul>
          Please Note
          <li>
          All Configurations are Viewed from the inside.
          </li>
          </ul>
        <app-text-reuse  [intro]="'Job name'" (valueChange)="updateField('jobName', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'Site adress'" (valueChange)="updateField('jobSiteAddress', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'City'" (valueChange)="updateField('jobCity', $event)"></app-text-reuse>
        <app-text-reuse  [intro]="'Date'" (valueChange)="updateField('date', $event)"></app-text-reuse>
      </div>
      <!-- Door Model Information -->
      <div class="container mb-3">
        <h4>Specify your selection</h4>
           <app-auto-search [label]="'Door Model'" [hint]="'If Door Model is FD72 then Interior Finish is `Same as Exterior`'"
           [filler]="'FD27 PVCU'" [initialList]="doorModel" (valueChange)="updateField('doorModel', $event)">
          </app-auto-search>
        <!-- Ext finish -->
           <app-auto-search [label]="'Exterior Finish'" (valueChange)="updateField('exteriorFinish', $event)"
           [filler]="exteriorFinish[0]" [initialList]="exteriorFinish">
          </app-auto-search>
        <!-- Ext color -->
           <app-text-reuse  [label]="'Exterior Color'" 
           (valueChange)="updateField('exteriorColor', $event)">
          </app-text-reuse >
        <!-- Int finish -->
           <app-auto-search [label]="'Interior Finish'" (valueChange)="updateField('interiorFinish', $event)"
           [filler]="interionFinish[0]" [initialList]="interionFinish">
          </app-auto-search>
        <!-- Int Color -->
           <app-text-reuse  [label]="'Interior Color'" (valueChange)="updateField('interiorColor', $event)">
          </app-text-reuse >
        <!-- Glass -->
           <app-text-reuse [label]="'Glass'"  (valueChange)="updateField('glass', $event)">
          </app-text-reuse>

        <!-- Handle Color -->
           <app-text-reuse [label]="'Handle Color'" (valueChange)="updateField('handleColor', $event)">
          </app-text-reuse>
      </div>
  
      <!-- Additional Notes -->
      <div class="mb-3">
        <label for="additionalNotes" class="form-label">ADDITIONAL NOTES:</label>
        <textarea class="form-control" id="additionalNotes" rows="3"></textarea>
      </div>
  
      <!-- Submit Button -->
      <div class="mb-3">
        <button mat-fab extended type="submit" class="btn btn-primary">
          <mat-icon class="material-symbols-outlined">
            picture_as_pdf
          </mat-icon>
          Download as PDF
        </button>
      </div>
      </div>
    </form>
<!-- Attach a message and email driectly to Neslo -->

  </div>
  