.config-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 1%;
    border-bottom: 1px groove;
}
.config-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
.drop-down{
    text-align: center;
}
.dropdown-image{
    cursor: pointer;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
mat-form-field{
    width: 100%;
}
header.title{
    position: sticky;
    top: 0;
    z-index: 22;
}
.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space-accoordion{
    display: block;
    margin: 1% 0%;
    padding: 0% 1%;
}