<form [formGroup]="contactForm" (ngSubmit)="send()">
  <section class="py-3">
  <div class="row">
    <mat-form-field appearance="fill" >
    <mat-label class="form-label">Name</mat-label>
    <input type="text" formControlName="name" matInput  placeholder="Your Name">
    @if(contactForm.get('name')?.value){
        <button matSuffix mat-icon-button (click)="contactForm.get('name')?.reset()">
          <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
        </button>
      }
      @if(contactForm.get('name')?.errors?.['required']){
        <mat-error>Please supply your name</mat-error>
          }
</mat-form-field>
</div>
<div class="row">
    <mat-form-field  appearance="fill" >
    <mat-label class="form-label">Return Email</mat-label>
    <input type="email" formControlName="email" matInput placeholder="name@example.com">
    @if(contactForm.get('email')?.value){
        <button matSuffix mat-icon-button (click)="contactForm.get('email')?.reset()">
          <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
        </button>
      }
      @if(contactForm.get('email')?.errors?.['required']){
        <mat-error>Email is required</mat-error>
          }
</mat-form-field>
</div>
<div class="row">
    <mat-form-field appearance="fill">
    <mat-label for="message" class="form-label">Message</mat-label>
    <textarea formControlName="message" matInput rows="2"
    placeholder="I would like to acquire about...">
      @if(contactForm.get('message')?.value){
        <button matSuffix mat-icon-button (click)="contactForm.get('message')?.reset()">
          <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
        </button>
      }

<!-- make this fit properly -->
@if(imageSrc && contactForm.get('file')?.value){
<div  class="thumbnail-container limit" [ngClass]="{'full-screen': isFullScreen}" (click)="toggleFullScreen()">
<img  [src]="imageSrc" 
class="img-thumbnail img-fluid mx-auto d-block" 
alt="Selected file thumbnail" />
</div>
}
</textarea>
</mat-form-field>
</div>
      <input type="file" formControlName="file"  (change)="onFileSelected($event)"
      hidden #fileInput accept=".pdf, .doc, .docx, .jpg" multiple>
      <div class="g-3 g-md-3 container justify-content-md-between d-block d-md-flex">
        @if(!dialog){
        <div class="pad col-12 col-md-6 justify-content-start">
      <button mat-fab extended (click)="fileInput.click()" file>
      Attach your request quote
      <mat-icon class="material-symbols-outlined">attach_file</mat-icon>
      </button>
      @if(contactForm.get('file')?.value){
        <div>
        {{ contactForm.get('file')?.value }}
        </div>
    <button matSuffix mat-icon-button (click)="contactForm.get('file')?.reset()">
      <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
    </button>
      }
    </div>
  }
    <div class="col-12 col-md-6 justify-content-end d-flex">
<button mat-fab extended type="submit" id="submitBtn" 
    (mouseover)="onHover(true)" (mouseleave)="onHover(false)" 
      [disabled]="contactForm.valid">
      Send Email 
      <mat-icon class="material-symbols-outlined">
    @switch (state) { 
        @case ('noFocus') { keyboard_arrow_right }
        @case ('focus') { arrow_right_alt }
       @default { keyboard_arrow_right }
      }
    </mat-icon>
    </button>
    </div>
  </div>

</section>
</form>