<div class="container">
  <div class="text-center mb-4 pt-3" >
    <h2 heading class="showcase-right right">Extended Showcase</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <app-carousel [heading]="'Home Essentials'" [route]="'Residential'" ></app-carousel>
      </div>
      <div class="col-md-4 mb-4">
        <app-carousel [heading]="'Premium Selection'" [route]="'Showcase'"></app-carousel>
      </div>
      <div class="col-md-4 mb-4">
        <app-carousel [heading]="'Handles'" [route]="'Handles'"></app-carousel>
      </div>
      <div class="col-md-4 mb-4">
        <app-carousel [heading]="'Summer Specials'" [route]="'Specific'"></app-carousel>
      </div>
      <div class="col-md-4 mb-4">
        <app-carousel [heading]="'Windows'" [route]="'Windows'"></app-carousel>
      </div>
    </div>
  </div>