@defer { 
  <router-outlet></router-outlet> 
  <div class="btn-container" id="ignore0">
    @if(!isHomeRoute){
  <button class="nav-buttons" mat-fab (click)="back()"
  aria-label="Navigate home">
  <mat-icon class="material-symbols-outlined">
    keyboard_arrow_left
  </mat-icon>
  </button>  
    }
  <button class="nav-buttons" mat-fab [@rotateInOut]="view" (click)="nav()"
         aria-label="Navigate button">
      <mat-icon class="material-symbols-outlined">
        keyboard_arrow_down
      </mat-icon>
  </button>  
</div>
}
@loading (minimum 1.2s) { 
  <div class="initial-icon">   
    <img src="../assets/Neslo.jpg" alt="Neslo Logo">
  </div>
  }