 @defer { 
  <router-outlet></router-outlet> 
  @if(!this.hideFocusService.focused()){
  <ng-container id="ignore0">
    @if(!isHomeRoute){
  <button class="nav-buttons top-btn" mat-fab (click)="back()"
  matTooltip="Home page" aria-label="Navigate home">
  <mat-icon class="material-symbols-outlined">
    keyboard_arrow_left
  </mat-icon>
  </button>  
    }
    
  <button class="nav-buttons btm-btn" mat-fab [@rotateInOut]="view" (click)="nav()"
      matTooltip="Scroll {{view}}" aria-label="Navigate button">
      <mat-icon class="material-symbols-outlined">
        keyboard_arrow_down
      </mat-icon>
  </button>  

<!-- Phone -->
  <a  aria-label="Call Neslo" href="tel:+14039941202">
  <button mat-fab color="primary" class="phone-btn" matTooltip="Call Erik Olsen" >
    <mat-icon class="material-symbols-outlined">
      phone_in_talk
    </mat-icon>
  </button>
  </a>

</ng-container>
  } 

<!-- second security -->
 <!-- @if(showEmailRecaptchaCheckbox){
  <div class="g-recaptcha" data-sitekey="6Ld7EdcpAAAAAP5b51ypqU3cFb5fvgQ7JxfMbGBf"></div>
}  -->
 }
@loading (minimum 1.2s) {  
  <div class="initial-icon">   
   <img ngSrc="../favicon.ico" width="auto" height="auto" priority>
  </div>
  }