@mixin close{
  position: absolute;
  transition: transform 0.2s ease-in-out;
  mat-icon{
    color: black;
  }
}
.thumbnail-header {
  @include close;
    top: -5px;
    right: -3px;
  }
  .thumbnail-header:hover mat-icon {
    transform: rotate(90deg); 
  }
  .thumbnail-header-file {
    @include close;
    top: -18px;
    right: -7px;
  }
  .thumbnail-header-file:hover mat-icon {
    transform: rotate(90deg); 
  }
  .remove-file-btn:hover{
    mat-icon {
      transform: rotate(90deg); 
    }
  }