@mixin close{
  position: absolute;
  transition: transform 0.2s ease-in-out;
  mat-icon{
    color: black;
  }
}
.thumbnail-header {
  @include close;
    top: -5px;
    right: -3px;
  }
  .thumbnail-header-file {
    @include close;
    top: -18px;
    right: -7px;
  }
  .remove-file-btn:hover{
    transform: rotate(90deg);
   
  }