<form [formGroup]="doorConfigForm">
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
<caption>We do not build the following Configurations: 1+2, 2+3, 4+1, and 3+4</caption>
<thead>
  <tr>
    <th colspan="1">
      <div titles>SET #</div>
    </th>
    <th colspan="1">
      <div titles>ROOM LABEL</div>
    </th>
      <th colspan="2">
        <div class="text-center">ROUGH OPENING
      <div row>
      <div>Width (ins)</div>
      <div>Height (ins)</div>
      </div>
    </div>
      </th>
    <th colspan="3">
      <div titles>CONFIGURATION</div>
    </th>
    <th colspan="1">
      <div titles>LEFT</div>
    </th>
    <th colspan="1">
      <div titles>RIGHT</div>
    </th>
    <th colspan="1">
      <div titles>ACTIVE PANEL</div>
    </th>
  </tr>
</thead>

      <tbody formArrayName="rows">
      @for(rowControl of rows.controls; let i = $index; track rowControl){
                <tr [formGroupName]="i">
                  <td>
              <ul>
                <li>
                  {{ i + 1}}
                </li>
              </ul>
              </td>
      <!-- Room Label -->
      <td blue>
        <input  type="text" formControlName="roomLabel">
    </td>
      <!-- Rough Opening -->
      <td green>
          <input formControlName="width">
      </td>
      <td green>
          <input formControlName="height">
      </td>
      <td red>
      <!-- Configuration -->
        <input matInput formControlName="configuration0">
      </td>
      <td>+</td>
      <td red>
        <input matInput formControlName="configuration1">
    </td>
    <td>
      <!-- Left -->
        <input matInput formControlName="left">
    </td>
      <td>
      <!-- Right -->
      <mat-form-field appearance="outline">
        <input matInput formControlName="right">
      </mat-form-field>
      </td>
  <td purple>
      <!-- Active Panel -->
    <select formControlName="activePanel">
        <option value="Right">Right</option>
        <option value="Left">Left</option>
    </select>
    </td>
  <td>
      <button matSuffix mat-icon-button (click)="removeRow(i)">
        <mat-icon  class="material-symbols-outlined">cancel</mat-icon></button>
    </td>
  </tr>
  }
</tbody>
</table>
</div>
</form>
  <button mat-icon-button (click)="addRow()" add>
    <mat-icon  class="material-symbols-outlined">add</mat-icon>
     Row</button>