
button[close]{
    background-color: lightgray;
}
div[titles]{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
div[row]{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
th{
    background-color: green;
    color: white;
}
input[blue]{
    background-color: lightblue;
}
input[green]{
    background-color: lightgreen;
}
input[red]{
    background-color: hwb(0 46% 14%);
}
select[purple]{
    background-color: rgb(224, 154, 224);
    color: white;
    text-align: center;
    width: 100%;
}

