button[add]{
    background-color: white;
}
div[titles]{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
div[row]{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
tbody{
    align-items: center;
}
th{
    background-color: green;
    color: white;
}
td{
    align-items: center;
}
td[blue]{
    background-color: lightblue;
}
td[green]{
    background-color: lightgreen;
}
td[red]{
    background-color: rgb(213, 105, 105);
}
td[purple]{
    background-color: plum;
}
div[row]{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
