<form [formGroup]="doorConfigForm">
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
<caption class="text-center">We do not build the following Configurations: 1+2, 2+3, 4+1, and 3+4</caption>
<thead>
  <tr>
    <th colspan="1">
      <div titles>SET #</div>
    </th>
    <th colspan="1">
      <div titles>ROOM LABEL</div>
    </th>
      <th colspan="2">
        <div class="text-center">ROUGH OPENING
      <div row>
      <div>Width (ins)</div>
      <div>Height (ins)</div>
      </div>
    </div>
      </th>
    <th colspan="3">
      <div titles>CONFIGURATION</div>
    </th>
    <th colspan="1">
      <div titles>LEFT</div>
    </th>
    <th colspan="1">
      <div titles>RIGHT</div>
    </th>
    <th colspan="1">
      <div titles>ACTIVE PANEL</div>
    </th>
  </tr>
</thead>
      <tbody formArrayName="rows">
      @for(rowControl of rows.controls; let i = $index; track rowControl){
                <tr [formGroupName]="i">
                  <td>
                    @if(i > 0){
              <button mat-fab extended close (click)="removeRow(i)">
                  {{ i + 1}}
                <mat-icon  class="material-symbols-outlined">close</mat-icon>
              </button>
              } @else {
                <button mat-fab disabled>
                  1
              </button>
              }
              </td>
      <!-- Room Label -->
      <td >
        <input blue  type="text" formControlName="roomLabel">
    </td>
      <!-- Rough Opening -->
      <td>
          <input green  type="text"  formControlName="width">
      </td>
      <td >
          <input green  type="text"  formControlName="height">
      </td>
      <td>
      <!-- Configuration -->
        <input red type="text" formControlName="configuration0">
      </td>
      <td>+</td>
      <td >
        <input red  type="text"  formControlName="configuration1">
    </td>
    <td>
      <!-- Left -->
        <input  type="text"  formControlName="left">
    </td>
      <td>
      <!-- Right -->
        <input type="text" formControlName="right">
      </td>
  <td>
      <!-- Active Panel -->
    <select purple formControlName="activePanel">
        <option value="Right">Right</option>
        <option value="Left">Left</option>
    </select>
    </td>
  </tr>
  }
</tbody>
<button mat-icon-button color="primary" (click)="addRow()">
  <mat-icon  class="material-symbols-outlined">add_circle</mat-icon>
</button>
</table>
</div>
</form>
  