@defer(on immediate){
<header #imgChild class="intro">
   <app-intro [orientation]="this.orientationService.screen()"></app-intro>
</header>
}
@defer(when delay){
<section class="my-3">
    <div container class="container bg-light">
        <h2 class="text-center mb-4 pt-3" id="contacts">
            About Us
        <mat-divider></mat-divider>
        </h2>
        <div class="row">
            <!-- Alberta's Distributor -->
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
        @defer(on viewport){
                <app-about-us [title]="'Alberta’s Distributor'" 
                [intro]="introAB" [tel]="'(403) 994 – 1202'" [email]="'redman68@live.ca'"
                [message]="messageAB"></app-about-us>
            } @placeholder { 
                <app-skeleton-form class="col-12"></app-skeleton-form>
                 }
                </div>
            <!-- Primary Supplier -->
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
        @defer(on viewport){
                <app-about-us [title]="'Primary Supplier'" 
                [intro]="introBC" [tel]="'(250) 448 - 6418'" [email]="'sales@foldingslidingdoors.ca'"
                [fax]="'(250) 448 – 6444'" [message]="messageBC"></app-about-us>
            } @placeholder { 
                <app-skeleton-form class="col-12"></app-skeleton-form>
                 }
                </div>
        </div>
    </div>
</section>

<section class="my-3 ">
    <div container class="container py-3 bg-light">
        <h2 class="text-center mb-4" >
            Contact Us
            <mat-divider></mat-divider>
        </h2>
        <ul class="mt-4">
<li>For a quick message, please text or call (403) 994 – 1202 </li>
<li>Emails sent through this form will be directed to 
<ul class="mt-2">
<li>Erik Olsen: <a href="mailto:redman68@live.ca" class="link-secondary">redman{{atSymbol}}live.ca</a></li>
    </ul>
    </li>
        </ul>
        <div class="col-12 mt-4" id="msg">
@defer(on viewport){
       <app-contact-form ></app-contact-form>
    }@placeholder { 
        <app-skeleton-form-fill></app-skeleton-form-fill>
         }
    </div>
    </div>
</section>
<footer class="text-center section-padding bg-dark text-light">
<div class="container">
<p>© 2024 Neslo Windows and Doors. All rights reserved.</p>
<p>Follow us on social media for the latest updates and offers.</p>
<a href="https://www.instagram.com/foldingsliding_doors_erik" target="_blank" class="text-light">
    Instagram: &#64;FoldingSliding_Doors_Erik
</a>
</div>
</footer> 
}