.hero-section {
    height: 75vh;
    // transition: opacity 1; /* Smooth transition for opacity changes */
}
.img{
    background-image: url('../../../src/assets/images/Erik_Red_Working.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Add this line */
    background-position: 50% 60%;
    transition: opacity 0.85s;
    height: 100%;
}
.section-padding {
    padding: 60px 0;
}
button[quote]{
    background-color: transparent;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    background-image: linear-gradient(45deg, white, #007bff, white);
    background-size: 70% 70%; 
    @include gradientFlow;
    animation: gradient-flow 3s linear; 
    border: solid;
}
.btn-primary {
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
}

.btn-primary:hover, .btn-primary:focus {
  box-shadow: 0 0 15px #007bff; /* Adjust color and size to fit your design */
}
h2[heading]{
  color: white;
}
@mixin gradientFlow {
    @keyframes gradient-flow {
      0%{
        background-position: 200% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    }
h1[neslo] {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    background-image: linear-gradient(45deg, white, #e78282, white);
    background-size: 200% 200%; 
    @include gradientFlow;
    animation: gradient-flow 10s linear infinite; 
      }