<div class="generating-popup-container">
    <div class="icons" [@quoteStatus]="status.status">
    @switch (status.status) {
        @case('generating'){
            <mat-icon class="material-symbols-outlined icon-sync">sync</mat-icon>
        }
        @case ('processing') {
            <mat-progress-bar mode="determinate" value="50" class="icon-progress"></mat-progress-bar>
        }
        @case ('complete') {
            <mat-icon class="material-symbols-outlined icon-check">check_circle</mat-icon>
              }
        @case ('error') {
            <mat-icon class="material-symbols-outlined icon-error">error</mat-icon>
        }
        @default {
            <mat-icon class="material-symbols-outlined icon-sync">sync</mat-icon>
        }
    }
    </div>
    <div class="message">
        <h2 class="message-text">{{status.message}}</h2>
    </div>
  </div>
  