@use '@angular/material' as mat;
@include mat.core();
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
button, input, select, textarea {
  font-family: 'Josefin Sans', sans-serif;
}

.mat-typography {
  font-family: 'Josefin Sans', sans-serif;
  
  // Base mobile styles
  & .mat-h1, & .mat-headline-5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em; 
  }

  & .mat-h2, & h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8em; 
  }

  & h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.6em; 
  }

  // Tablet and up
  @media (min-width: 601px) {
    & .mat-h1, & .mat-headline-5 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5em; 
    }

    & .mat-h2, & h2 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.3em; 
      color: saddlebrown;
    }

    & h3 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.1em; 
    }
  }

  // Desktops and up
  @media (min-width: 1025px) {
    & .mat-h1, & .mat-headline-5 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2.2vw; 
    }

    & .mat-h2, & h2 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2vw; 
      color: saddlebrown;
    }

    & h3 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.4vw; 
    }
  }
}

:root {
  --wood: #8B4513;
  --wood-dark: #5c471f; 
  --wood-light: #bd9865;
  --wood-light-grey: #d3d3d385;
  --wood-red: #CC9966;
  --blue: #007bff;
  --green: #008643;
}
b {
  color: var(--wood-light);
  }
html, body {
    height: 100%;
    margin: 0;
    font-size: 1.4vw;
}
div[container]{
  border-radius: 25px;
  border: 1px groove;
}
/* Base font size for mobile */
p {
  font-size: .7em; 
}
/* Slightly larger text for tablets */
@media (min-width: 600px) {
  p {
    font-size: .9em; 
  }
}

/* Even larger text for desktops */
@media (min-width: 1024px) {
  p {
    font-size: 1.1em; 
  }
}
