@use '@angular/material' as mat;
@include mat.core();
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: serif, auto;
}
p.headings{
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --wood: #8B4513;
  --wood-dark: #5c471f; 
  --wood-light: #bd9865;
  --wood-light-grey: #d3d3d385;
  --wood-red: #CC9966;
  --blue: #007bff;
  --blue-grey: #6b757d;
  --blue-field: #1f3a3d;
  --green: #008643;
  --green-field: #6a9955;
  --red: #da9694;
}
footer{
.bi-instagram {
  font-size: 24px; 
  color: white; 
}}
.material-symbols-outlined {
  padding-right: 1%;
  color: white; 
}
div[blackIcons]{
  .material-symbols-outlined {
      color: black ;
  }
  }
button, input, select, textarea {
  font-family: serif, auto;
}
// dialog pop up container
.cdk-overlay-pane {
  overflow-y: auto;
  max-height: 77%;
}
.mat-typography {
  font-family: serif, auto;
  
  // Base mobile styles
  & .mat-h1, & .mat-headline-5 {
    font-family: serif, auto;
    font-size: 2.1em ; 
  }

  & .mat-h2, & h2 {
    font-family: 'serif', auto;
    font-size: 1.9em; 
    color: var(--blue-grey);
  }

  & h3{
    font-family: 'serif', auto;
    font-size: 1.7em ; 
  }

  // Tablet and up
  @media (min-width: 601px) {
    & .mat-h1, & .mat-headline-5 {
      font-family: 'serif', auto;
      font-size: 1.5em; 
    }

    & .mat-h2, & h2 {
      font-family: 'serif', auto;
      font-size: 1.3em; 
      color: var(--blue-grey);
    }

    & h3{
      font-family: 'serif', auto;
      font-size: 1.1em; 
    }
  }

  // Desktops and up
  @media (min-width: 1025px) {
    & .mat-h1, & .mat-headline-5 {
      font-family: serif, auto;
      font-size: 2.2vw; 
    }

    & .mat-h2, & h2 {
      font-family: serif, auto;
      font-size: 2vw; 
      color: var(--blue-grey);
    }

    & h3{
      font-family: serif, auto;
      font-size: 1.4vw; 
    }
  }
}
a{
  color: var(--blue-grey);
}
b{
  color: var(--wood-light);
}
b[fsdc]{
  color: var( --green-field) !important;
}
html, body {
    height: 100%;
    margin: 0;
    font-size: 1.4vw;
}
p {
  font-size: 1.1em; 
}
@media (min-width: 600px) {
  p {
    font-size: 1.2em; 
  }
}
@media (min-width: 1024px) {
  p {
    font-size: 1.3em; 
  }
}
