@mixin common{
    display: flex;
    flex-direction: column;
  }
  @mixin background($shade: #cc9965, $linear: var(--wood-red)){
    background-clip: text;
    -webkit-background-clip: text;
    color: $shade;
    background-image: linear-gradient(45deg, var(--wood), $linear);
  }
// @mixin movingIn{
//     transform: translateX(15vw);
//   @media (min-width: 601px) {
//     transform: translateX(22vw);
//   }
//   @media (min-width: 1025px) {
//       transform: translateX(30vw);
//     }
//   }

form{
    @include common;
  }
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100%;
}
.image {
  background-image: url("https://www.neslo.ca/assets/Erik_Red_Working.jpg"); 
// background-image: url("../../assets/Erik_Red_Working.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 75%;
  z-index: -1;
}
.container-common{
  margin-top: 1%;
  padding-top: 1%;
  background-image: linear-gradient(1deg, transparent, #e9e9e9, transparent);
  border-radius: 15px;
}
.container-border{
  border-radius: 15px;
}
.contact-subitem {
  margin-left: 25px; 
  margin-top: 4px; 
}
.section-padding {
  padding: 60px 0;
}
.footer-title{
  color: #fcf5e3;
  margin-bottom: 1%;
}
.tm-footer{
  display: flex;
  font-size: 12px;
  width: 100%;
  justify-content: center;
  @media (min-width: 601px) {
  justify-content: flex-start;
  padding-left: 2%;
  }
}
.head-nav, .head-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 64px; 
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}
.head-nav {
  opacity: 1;
}
.head-hidden {
  opacity: 0;
}
// heading animations
.word-left, .word-right, .word-final {
  transition: transform 1.7s ease-out, color 2s ease-out;
}
.word-left {
  transform: translateX(px);
  transform: rotate(-15deg); 
  color: var(--wood);
}
.word-right {
  transform: translateX(-25px);
  transform: rotate(15deg);
  color: var(--wood-dark);
}
.word-final{
  transform: translateX(0px);
  transform: rotate(0deg); 
  @include background;
}
h2.showcase-right.right {
  @include background(#cc9965, var(--wood));
  // @include movingIn;
  transform: translateX(45px);
  // justify-content: flex-end ;
  transition: all 1s ease-out;
}
h2.contact-left.left{
  @include background;
  // @include movingIn;
  transform: translateX(-45px);
  // justify-content: flex-start;
  transition: all 1s ease-out;
}

// end of animations
.homeWrapper{
  height: 100%;
}

h2[hidden]{
  display: none;
}
h2[heading]{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.2em;
  @media (min-width: 601px) {
    font-size: 2.1em; 
  }
  @media (min-width: 1025px) {
    font-size: 2.8vw; 
  }
}
app-about-us, app-carousel {
  @include common;
  height: 100%; 
  max-width: 100%;
}
fa-icon{
  font-size: x-large;
}