<div class="home-wrapper">
@if(this.orientationService.screen()){
        <app-intro [orientation]="true" class="image-mobile"></app-intro>
}@else {
    <header #imgChild class="intro image">
        <app-intro [orientation]="false" ></app-intro>
    </header>
}
<!-- About Us -->
<section class="my-3" #aboutUs>
    <div [ngClass]="this.orientationService.screen() ? '' : 'bg-light' " class="container container-border">
            <div class="text-center mb-4 pt-3" id="contacts">
                <h2 heading>Neslo Partnerships</h2>
                <mat-divider></mat-divider>
            </div>
        <div class="row">
            <!-- Alberta's Distributor -->
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                    <app-about-us [img]="imgAB" [title]="'Alberta’s Distributor'" [customColor]="true"
                        [intro]="introAB" [tel]="'(403) 994 – 1202'" [email]="'Foldingslidingdoors.ab@gmail.com'"
                        [message]="messageAB"></app-about-us>
            </div>
            <!-- Primary Supplier -->
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                    <app-about-us [img]="imgBC" [title]="'Primary Supplier'" [customColor]="false"
                        [intro]="introBC" [tel]="'(250) 448 - 6418'" [email]="'sales@foldingslidingdoors.ca'"
                        [fax]="'(250) 448 – 6444'" [message]="messageBC"></app-about-us>       
            </div>
        </div>
    </div>
</section >

@defer{
    <!-- Carousel Cloudinary -->
<section class="my-3" id="showcase">
    <div [ngClass]="this.orientationService.screen() ? '' : 'bg-light' " class="container container-border">
        <div class="text-center mb-4 pt-3" >
            <h2 heading>Showcase</h2>
            <mat-divider></mat-divider>
        </div>
        <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
        <app-carousel [heading]="'Home Essentials'" [route]="'Residential'"></app-carousel>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
        <app-carousel [heading]="'Premium Selection'" [route]="'Showcase'"></app-carousel>
        </div>
        </div>
    </div>
</section>
}

<section [ngClass]="this.orientationService.screen() ? 'container-border' : 'container'" class="container-common">
    <div class="text-center mb-4 pt-3">
        <h2 heading> Contact Neslo </h2>
            <mat-divider></mat-divider>
    </div>
    <div class="mt-4 px-3"> 
        <div class="contact-item">
            * Mobile number
            <a href="tel:+14039941202">(403) 994 – 1202</a>
        </div>
        <div class="contact-item mt-2">
            * Messages sent through this form will be directed to
            <div class="contact-subitem mt-1">
                Erik Olsen: <a href="mailto:Foldingslidingdoors.ab@gmail.com" class="link-secondary">FoldingSlidingDoors.ab{{atSymbol}}gmail.com</a>
            </div>
        </div>
    </div>
        
        <div class="col-12 mt-2">
@defer{
       <app-contact-form></app-contact-form>
    }@placeholder { 
        <app-skeleton-form-fill ></app-skeleton-form-fill>
         }
    </div>
</section>

<footer class="text-center section-padding bg-dark text-light">
<div class="container">
<p>© 2024 Neslo. All rights reserved.</p>
<p>Join us on social media to adventure with Neslo</p>
<i class="bi bi-instagram"></i>
&#160;
<a href="https://www.instagram.com/foldingslidingdoors_erik" target="_blank" class="text-light">
     &#64;FoldingSlidingDoors_Erik
</a>
</div>
</footer> 
</div>
<!-- <section>
need oauth values
    <app-insta-carousel id="gallery"></app-insta-carousel>
</section> -->