<header #imgChild class="intro" [ngClass]="this.orientationService.screen() ? 'image-mobile' : 'image'">
   <app-intro [orientation]="this.orientationService.screen()" 
   ></app-intro>
</header>
<!-- <section>
need oauth values
    <app-insta-carousel></app-insta-carousel>
</section> -->
<section class="my-3">
    <div #borders [ngClass]="this.orientationService.screen() ? '' : 'bg-light' " class="container container-border">
            <div class="text-center mb-4 pt-3" id="contacts">
                <h2 heading>Neslo Partnerships</h2>
                <mat-divider></mat-divider>
            </div>
    
        <div class="row">
            <!-- Alberta's Distributor -->
            <div class="col-12 col-md-6 d-flex flex-column align-items-center extra-style" #banner0>
                @defer(on viewport(banner0)){
                    @if(this.orientationService.screen()){
                        <app-about-us [img]="imgAB" [title]="'Alberta’s Distributor'" [customColor]="true"
                        [intro]="introAB" [tel]="'(403) 994 – 1202'" [email]="'Foldingslidingdoors.ab@gmail.com'"
                        [message]="messageAB"></app-about-us>
                    }@else{
                        <app-about-us [@dropIn] [img]="imgAB" [title]="'Alberta’s Distributor'" [customColor]="true"
                        [intro]="introAB" [tel]="'(403) 994 – 1202'" [email]="'Foldingslidingdoors.ab@gmail.com'"
                        [message]="messageAB"></app-about-us>
                    }
                    
                }
                </div>
            <!-- Primary Supplier -->
            <div class="col-12 col-md-6 d-flex flex-column align-items-center extra-style" #banner1 >
                @defer(on viewport(banner1)){
                    @if(this.orientationService.screen()){
                        <app-about-us [img]="imgBC" [title]="'Primary Supplier'" [customColor]="false"
                        [intro]="introBC" [tel]="'(250) 448 - 6418'" [email]="'sales@foldingslidingdoors.ca'"
                        [fax]="'(250) 448 – 6444'" [message]="messageBC"></app-about-us>
                    }@else{
                <app-about-us [img]="imgBC" [@dropIn]  [title]="'Primary Supplier'" [customColor]="false"
                [intro]="introBC" [tel]="'(250) 448 - 6418'" [email]="'sales@foldingslidingdoors.ca'"
                [fax]="'(250) 448 – 6444'" [message]="messageBC"></app-about-us>
                    }
                }
            </div>
        </div>
    </div>
</section>

<section class="my-3 ">
    <div [ngClass]="this.orientationService.screen() ? 'container-border' : 'container'" class="py-3 container-common">
        <div class="text-center mb-4 pt-3">
        <h2 heading> Contact Neslo </h2>
            <mat-divider></mat-divider>
        </div>
        <div class="mt-4"> 
            <div class="contact-item">
               * Mobile number
                <a href="tel:+14039941202">(403) 994 – 1202</a>
            </div>
            <div class="contact-item mt-2">
               * Messages sent through this form will be directed to
                <div class="contact-subitem mt-1">
                    Erik Olsen: <a href="mailto:Foldingslidingdoors.ab@gmail.com" class="link-secondary">FoldingSlidingDoors.ab{{atSymbol}}gmail.com</a>
                </div>
            </div>
        </div>
        
        <div class="col-12 mt-2">
<!-- @defer(on viewport){ -->
       <app-contact-form #borders></app-contact-form>
    <!-- }@placeholder { 
        <app-skeleton-form-fill ></app-skeleton-form-fill>
         } -->
    </div>
    </div>
</section>
<footer class="text-center section-padding bg-dark text-light">
<div class="container">
<p>© 2024 Neslo. All rights reserved.</p>
<p>Join us on social media to adventure with Neslo</p>
<i class="bi bi-instagram"></i>
&#160;
<a href="https://www.instagram.com/foldingslidingdoors_erik" target="_blank" class="text-light">
     &#64;FoldingSlidingDoors_Erik
</a>
</div>
</footer> 