@mixin common{
    display: flex;
    flex-direction: column;
  }
@mixin img{
  background-image: url("/assets/Erik_Red_Working.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
 } 
form{
    @include common;
  }
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.color{
  @include img;
}
.image {
  @include img;
  background-attachment: fixed;
  background-position: 50% 75%;
}
.container-common{
  background-image: linear-gradient(1deg, transparent, #e9e9e9, transparent);
  border-radius: 25px;
}
.container-border{
  border-radius: 25px;
}
.contact-item {
  margin-bottom: 8px; 
  margin-left: 25px;
}
.contact-subitem {
  margin-left: 25px; 
  margin-top: 4px; 
}
.section-padding {
    padding: 60px 0;
}
h2[hidden]{
  display: none;
}
h2[heading]{
  color: #000000;
  font-weight: bold;
  font-size: 2.2em;
  @media (min-width: 601px) {
    font-size: 2.1em; 
  }
  @media (min-width: 1025px) {
    font-size: 2.8vw; 
  }
}
app-about-us {
  @include common;
  height: 100%; 
}
fa-icon{
  font-size: x-large;
}