.hero-section {
    background-image: url('../../../src/assets/images/neslo_landscape.jpg');
    background-size: cover;
    height: 100vh;
    color: white;
}
.section-padding {
    padding: 60px 0;
}